<template>
<layout>
    <h1 class="title">Tambah Data Referensi Fasilitator</h1>
    <div class="columns">
        <div class="column">
            <form @submit.prevent="validateBeforeSubmit">
                <b-field :type="errors.has('code') ? 'is-danger': 'is-info'" :message="errors.has('code') ? 'Kode Wajib Diisi' : ''">
                    <b-input
                        name="code"
                        v-model="model.code"
                        type="text"
                        placeholder="Isikan Kode"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData">
                    </b-input>
                </b-field>
                <br/>
                <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? 'Nama Wajib Diisi' : ''">
                    <b-input
                        name="name"
                        v-model="model.name"
                        placeholder="Isikan Nama"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData">
                    </b-input>
                </b-field>
                <br/>
                <quill-editor v-model="model.description"
                    ref="myQuillEditor"
                    :options="editorOption">
                </quill-editor>
                <br/>
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <router-link :to="{ name: 'module-training-reference-facilitator-index'}" class="button is-pulled-right is-danger">
                            Batal
                        </router-link>
                    </div>
                    <div class="control">
                        <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Tambahkan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</layout>
</template>
<script>
'use strict';
// import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../../../config.js';
import layout from '../../../../layout/default';
import indonesiaValidator from 'vee-validate/dist/locale/id';
export default {
    name: 'moduleTrainingReferenceFacilitatorCreate',
    components: {
        layout
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    mounted () {
        // this.$store.dispatch('closeSideMenu');
    },
    data () {
        return {
            editorOption: {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        [{'color': []}, {'background': []}],
                        [{'font': []}],
                        [{'align': []}],
                        ['clean']
                    ]
                }
            },
            isSendingData: false,
            model: {
                code: null,
                name: null,
                description: null
            }
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        validateBeforeSubmit () {
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        submitData () {
            const vm = this;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: `mutation {ModuleTrainingReferenceFacilitatorStore (
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                        description:"` + vm.model.description + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'module-training-reference-facilitator-index'});
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style>
</style>
