<template>
<layout>
    <h1 class="title">Ubah Data Kelas Pelatihan</h1>
    <div class="columns">
        <div class="column">
            <form @submit.prevent="validateBeforeSubmit">
                <b-field :type="errors.has('code') ? 'is-danger': 'is-info'" :message="errors.has('code') ? 'Kode Wajib Diisi' : ''">
                    <b-input
                        name="code"
                        v-model="model.code"
                        type="text"
                        placeholder="Isikan Kode"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData">
                    </b-input>
                </b-field>
                <br/>
                <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? 'Nama Wajib Diisi' : ''">
                    <b-input
                        name="name"
                        v-model="model.name"
                        placeholder="Isikan Nama"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData">
                    </b-input>
                </b-field>
                <br/>
                <b-field :type="errors.has('expanse') ? 'is-danger': 'is-info'" :message="errors.has('expanse') ? 'Jumlah Biaya Wajib Diisi' : ''">
                    <b-input
                        type="number"
                        placeholder="Isikan Jumlah Biaya"
                        name="expanse"
                        v-model="model.expanse"
                        v-validate="'required|decimal|min:0'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <br>
                <b-field :type="errors.has('duration_hour') ? 'is-danger': 'is-info'" :message="errors.has('duration_hour') ? 'Jumlah Jam Wajib Diisi' : ''">
                    <b-input
                        type="number"
                        placeholder="Isikan Jumlah Jam"
                        name="duration_hour"
                        v-model="model.duration_hour"
                        v-validate="'required|numeric|min:0'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <br>
                <b-field :type="errors.has('startDate') ? 'is-danger': 'is-info'" :message="errors.has('startDate') ? 'Tanggal Mulai Wajib Diisi' : ''">
                    <b-datepicker
                        placeholder="Isikan Tanggal Mulai Format Bulan-Tanggal-Tahun"
                        name="startDate"
                        v-model="startDate"
                        v-validate="'required|date_format:DD/MM/YYYY'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-datepicker>
                </b-field>
                <br>
                <b-field :type="errors.has('endDate') ? 'is-danger': 'is-info'" :message="errors.has('endDate') ? 'Tanggal Selesai Wajib Diisi' : ''">
                    <b-datepicker
                        placeholder="Isikan Tanggal Selesai Format Bulan-Tanggal-Tahun"
                        name="endDate"
                        v-model="endDate"
                        v-validate="'required|date_format:DD/MM/YYYY'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-datepicker>
                </b-field>
                <br>
                <b-field>
                    <b-select name="institution_id" v-model="model.institution_id" placeholder="Pilih Institusi Pelatihan" :loading="isSendingData" :disabled="isSendingData" expanded>
                        <option v-for="option in institutions" :value="option.id" :key="option.id">
                            {{ option.name }}
                        </option>
                    </b-select>
                </b-field>
                <br/>
                <b-field>
                    <b-select name="category_id" v-model="model.category_id" placeholder="Pilih Kategori Pelatihan" :loading="isSendingData" :disabled="isSendingData" expanded>
                        <option v-for="option in categories" :value="option.id" :key="option.id">
                            {{ option.name }}
                        </option>
                    </b-select>
                </b-field>
                <br/>
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <router-link :to="{ name: 'module-training-transaction-trainingClass-show', params: {trainingClassId}}" class="button is-pulled-right is-danger">
                            Batal
                        </router-link>
                    </div>
                    <div class="control">
                        <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Perbaharui</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</layout>
</template>
<script>
'use strict';
// import _ from 'lodash';
import axios from 'axios';
import moment from 'moment';
import {apiDomain} from '../../../../../config.js';
import indonesiaValidator from 'vee-validate/dist/locale/id';
import layout from '../../../../layout/default';
export default {
    name: 'moduleTrainingTransactionTrainingClassEdit',
    components: {
        layout
    },
    props: {
        trainingClassId: {
            type: String,
            required: true
        }
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            editorOption: {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        [{'color': []}, {'background': []}],
                        [{'font': []}],
                        [{'align': []}],
                        ['clean']
                    ]
                }
            },
            isSendingData: false,
            startDate: null,
            endDate: null,
            model: {
                id: null,
                code: null,
                name: null,
                duration_hour: null,
                duration_day: null,
                start_date: null,
                end_date: null,
                expanse: null,
                institution_id: null,
                category_id: null
            },
            queryStringInstitutions: `query FETCHDATA {InstitutionMasterInstitution (limit:1000) {data {id, name}}}`,
            queryStringModel: `query FETCHDATA {ModuleTrainingTransactionTrainingClass (id:"` + this.trainingClassId + `") {data {id, code, name, duration_hour, duration_day, start_date, end_date, expanse, institution_id, category_id}}}`,
            queryStringCategories: `query FETCHDATA {ModuleTrainingReferenceLearningMaterialCategory (limit:1000) {data {id, name}}}`,
            institutions: [],
            categories: []
        };
    },
    watch: {
        startDate: function (val) {
            this.model.start_date = moment(val).format('DD-MM-YYYY');
        },
        endDate: function (val) {
            this.model.end_date = moment(val).format('DD-MM-YYYY');
        }
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getInstitutions(),
                vm.getCategories(),
                vm.getModel()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        getModel () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_transaction/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringModel
                }
            })
            .then(function (response) {
                vm.model = response.data.data.ModuleTrainingTransactionTrainingClass.data[0];
                vm.startDate = moment(vm.model.start_date, 'DD-MM-YYYY').toDate();
                vm.endDate = moment(vm.model.end_date, 'DD-MM-YYYY').toDate();
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Institusi Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getCategories () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringCategories
                }
            })
            .then(function (response) {
                vm.categories = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Institusi Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getInstitutions () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/institution_master/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringInstitutions
                }
            })
            .then(function (response) {
                vm.institutions = response.data.data.InstitutionMasterInstitution.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Institusi Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        submitData () {
            const vm = this;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_transaction/query',
                responseType: 'json',
                data: {
                    query: `mutation {ModuleTrainingTransactionTrainingClassUpdate (
                        id:"` + vm.model.id + `",
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                        duration_hour:` + vm.model.duration_hour + `,
                        start_date:"` + vm.model.start_date + `",
                        end_date:"` + vm.model.end_date + `",
                        expanse:"` + vm.model.expanse + `",
                        category_id:"` + vm.model.category_id + `",
                        institution_id:"` + vm.model.institution_id + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'module-training-transaction-trainingClass-index'});
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style>
</style>
