<template>
    <layout>
        <h1 class="title">Modul Peserta Kelas</h1>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">Kelas Pelatihan</h2>
                <router-link :to="{ name: 'module-training-transaction-trainingClass-show', params: {trainingClassId}}" class="button is-info is-pulled-right" exact>
                    <b-icon icon="arrow-left"></b-icon>
                </router-link>
                <table class="table is-striped is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Kode</td>
                            <td>{{trainingClass.code}}</td>
                        </tr>
                        <tr>
                            <td>Nama</td>
                            <td>{{trainingClass.name}}</td>
                        </tr>
                        <tr>
                            <td>Institusi</td>
                            <td>{{trainingClass.institution.name}}</td>
                        </tr>
                        <tr>
                            <td>Kategori Pelatihan</td>
                            <td>{{trainingClass.category.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">Daftar Individu</h2>
                <b-field grouped group-multiline>
                    <b-select v-model="perPage" @input="onLimitChange()">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </b-select>
                    <b-input placeholder="No label" v-model="searchValue" icon="search" @input="onSearch()" expanded></b-input>
                    <a class="button is-black is-pulled-right" @click="[isComponentModalHelper = true]">
                        <b-icon icon="help"></b-icon>
                    </a>
                </b-field>
            </div>
        </div>
        <b-modal :active.sync="isComponentModalHelper" has-modal-card @close="closeModal">
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Bantuan</p>
                </header>
                <section class="modal-card-body">
                    <div class="columns">
                        <div class="column">
                            <table class="table is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>Lambang</th>
                                        <th>Deskripsi</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <b-icon icon="check" class="has-text-success"></b-icon>
                                        </td>
                                        <td>Menambahkan Fasilitator</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b-icon icon="close" class="has-text-danger"></b-icon>
                                        </td>
                                        <td>Menghapus Fasilitator</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot is-flex is-pulled-right-flex">
                    <button class="button" type="button" @click="closeModal()">Ok</button>
                </footer>
            </div>
        </b-modal>
        <div class="columns">
            <div class="column">
                <b-table
                    :data="models.data"
                    :bordered="models.isBordered"
                    :striped="models.isStriped"
                    :narrowed="models.isNarrowed"
                    :loading="models.loading"
                    paginated
                    backend-pagination
                    :total="models.total"
                    :per-page="models.per_page"
                    @page-change="onPageChange"
                    backend-sorting
                    :default-sort-direction="defaultSortOrder"
                    :default-sort="[orderBy, sortOrder]"
                    @sort="onSort"
                    :mobile-cards="models.hasMobileCards">
                    <template slot-scope="props">
                        <b-table-column field="code" label="NIK" sortable>
                            {{ props.row.code }}
                        </b-table-column>
                        <b-table-column field="name" label="Nama" sortable>
                            {{ props.row.name }}
                        </b-table-column>
                        <b-table-column label="Aksi">
                            <template v-if="isInMember(props.row.id)">
                                <button class="button is-danger" @click="removeMember(props.row.id)">
                                    <b-icon icon="close"></b-icon>
                                </button>
                            </template>
                            <template v-else>
                                <button class="button is-success" @click="addMember(props.row.id)">
                                    <b-icon icon="check"></b-icon>
                                </button>
                            </template>
                        </b-table-column>
                    </template>
                    <template slot="empty">
                        <div class="content has-text-grey has-text-centered">
                            <p>
                                <b-icon icon="warning-octagon" size="is-large"></b-icon>
                            </p>
                            <p>Data Tidak Tersedia</p>
                        </div>
                    </template>
                </b-table>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../../../config.js';
import layout from '../../../../layout/default';
export default {
    name: 'moduleTrainingTransactionTrainingClassEditMember',
    props: {
        trainingClassId: {
            type: String,
            required: true
        }
    },
    components: {
        layout
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            currentUser: this.$store.getters.authUser,
            isSendingData: false,
            isFetching: false,
            orderBy: 'name',
            sortOrder: 'asc',
            defaultSortOrder: 'asc',
            page: 1,
            perPage: 10,
            searchValue: null,
            models: {
                data: [],
                code: null,
                name: null,
                current_page: 1,
                per_page: 10,
                to: 1,
                total: 1,
                loading: false,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true
            },
            model: {
                id: null,
                code: null,
                name: null,
                description: null
            },
            queryOperationName: 'FETCHDATA',
            queryName: 'PersonMasterIndividual',
            queryProperties: null,
            queryFieldsArray: ['to', 'total', 'per_page', 'current_page'],
            querySelectFieldsArray: [],
            querySelectFieldsString: 'id, code, name',
            querySelectFields: null,
            queryFields: null,
            queryString: null,
            axiosProperties: {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/person_master/query',
                responseType: 'json',
                data: {
                    operationName: 'FETCHDATA',
                    query: null,
                    variabels: null
                }
            },
            // ---------------------------
            trainingClass: {
                id: null,
                code: null,
                name: null,
                duration_hour: null,
                duration_day: null,
                start_date: null,
                end_date: null,
                expanse: null,
                category_id: null,
                institution_id: null,
                institution: {
                    id: null,
                    name: null
                },
                category: {
                    id: null,
                    name: null
                }
            },
            members: {
                loading: false,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true,
                data: []
            },
            queryStringTrainingClass: `
                query FETCHDATA {
                    ModuleTrainingTransactionTrainingClass (id:"` + this.trainingClassId + `")
                    {
                        data {
                            id,
                            code,
                            name,
                            start_date,
                            end_date,
                            institution_id,
                            category_id,
                            category {
                                id,
                                name
                            },
                            institution {
                                id,
                                name
                            },
                            members {
                                id,
                                code,
                                name
                            }
                        }
                    }
                }`,
            isComponentModalHelper: false
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData(),
                vm.getTrainingClass()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        setAxiosProperties () {
            let firstQueryString = null;
            let lastQueryString = `},` + this.queryFieldsArray.join() + `}}`;
            if (!_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `", ` + this.orderBy + `: "` + this.searchValue.toUpperCase() + `"){data{`;
            } else if (_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            } else {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            }

            if (!_.isNil(this.querySelectFieldsString) && this.querySelectFieldsArray.length === 0) {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsString + lastQueryString;
            } else {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsArray.join() + lastQueryString;
            }
        },
        onPageChange (page) {
            const vm = this;
            vm.models.loading = true;
            vm.page = page;
            vm.getModelData();
        },
        onLimitChange () {
            const vm = this;
            vm.models.loading = true;
            vm.getModelData();
        },
        onSort (field, order) {
            const vm = this;
            vm.orderBy = field;
            vm.sortOrder = order;
            vm.getModelData();
        },
        getModelData () {
            const vm = this;
            setTimeout(() => {
                vm.models.loading = true;
                vm.setAxiosProperties();
                axios(vm.axiosProperties)
                .then(function (response) {
                    // console.log(response);
                    vm.models.data = response.data.data.PersonMasterIndividual.data;
                    vm.models.current_page = response.data.data.PersonMasterIndividual.current_page;
                    vm.models.per_page = response.data.data.PersonMasterIndividual.per_page;
                    vm.models.to = response.data.data.PersonMasterIndividual.to;
                    vm.models.total = response.data.data.PersonMasterIndividual.total;
                    vm.models.loading = false;
                    vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
                })
                .catch(function (error) {
                    vm.models.loading = false;
                    if (error) {
                        vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                    }
                });
            }, 1000);
        },
        getTrainingClass () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_transaction/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringTrainingClass
                }
            })
            .then(function (response) {
                vm.trainingClass = response.data.data.ModuleTrainingTransactionTrainingClass.data[0];
                vm.members.data = response.data.data.ModuleTrainingTransactionTrainingClass.data[0].members;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Institusi Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        closeModal () {
            this.isComponentModalHelper = false;
        },
        isInMember (individualId) {
            let returned = false;
            let check = _.findIndex(this.members.data, function (member) {
                return member.id === individualId;
            });
            if (check >= 0) {
                returned = true;
            }
            return returned;
        },
        removeMember (individualId) {
            const vm = this;
            vm.models.loading = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_transaction/query',
                responseType: 'json',
                data: {
                    query: `mutation {ModuleTrainingTransactionTrainingClassRemoveMember(
                        id:"` + vm.trainingClassId + `", individual_id:"` + individualId + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.models.loading = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.getData();
            })
            .catch(function (error) {
                vm.models.loading = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        addMember (individualId) {
            const vm = this;
            vm.models.loading = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_transaction/query',
                responseType: 'json',
                data: {
                    query: `mutation {ModuleTrainingTransactionTrainingClassAddMember(
                        id:"` + vm.trainingClassId + `", individual_id:"` + individualId + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.models.loading = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.getData();
            })
            .catch(function (error) {
                vm.models.loading = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
    .is-pulled-right-flex {
        justify-content: flex-end;
    }
</style>
