<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Kelas Pelatihan
                            <router-link :to="{ name: 'module-training-transaction-trainingClass-index'}" class="is-pulled-right" exact>
                                <b-icon class="is-pulled-right has-text-info" icon="arrow-left"></b-icon>
                            </router-link>
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <table class="table is-striped">
                            <tbody>
                                <tr>
                                    <td>Kode</td>
                                    <td>{{model.code}}</td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td>{{model.name}}</td>
                                </tr>
                                <tr>
                                    <td>Mulai</td>
                                    <td>{{model.start_date}}</td>
                                </tr>
                                <tr>
                                    <td>Selesai</td>
                                    <td>{{model.end_date}}</td>
                                </tr>
                                <tr>
                                    <td>Durasi Jam</td>
                                    <td>{{model.duration_hour}}</td>
                                </tr>
                                <tr>
                                    <td>Biaya</td>
                                    <td>{{model.expanse}}</td>
                                </tr>
                                <tr>
                                    <td>Institusi</td>
                                    <td>{{model.institution.name}}</td>
                                </tr>
                                <tr>
                                    <td>Kategori Pelatihan</td>
                                    <td>{{model.category.name}}</td>
                                </tr>
                                <tr>
                                    <td>Terdaftar</td>
                                    <td>
                                        <template v-if="isMember">
                                            <b-icon icon="check has-text-success"></b-icon>
                                        </template>
                                        <template v-else>
                                            <b-icon icon="close has-text-danger"></b-icon>
                                        </template>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </b-panel>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Fasilitator
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <b-table
                            :data="facilitators.data"
                            :bordered="facilitators.isBordered"
                            :striped="facilitators.isStriped"
                            :narrowed="facilitators.isNarrowed"
                            :loading="facilitators.loading"
                            :mobile-cards="facilitators.hasMobileCards">
                            <template slot-scope="props">
                                <b-table-column field="code" label="Kode" sortable>
                                    {{ props.row.code }}
                                </b-table-column>
                                <b-table-column field="name" label="Nama" sortable>
                                    {{ props.row.name }}
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <div class="content has-text-grey has-text-centered">
                                    <p>Data Tidak Tersedia</p>
                                </div>
                            </template>
                        </b-table>
                    </div>
                </b-panel>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Materi
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <b-table
                            :data="courses.data"
                            :bordered="courses.isBordered"
                            :striped="courses.isStriped"
                            :narrowed="courses.isNarrowed"
                            :loading="courses.loading"
                            :mobile-cards="courses.hasMobileCards">
                            <template slot-scope="props">
                                <b-table-column field="code" label="Kode" sortable>
                                    {{ props.row.code }}
                                </b-table-column>
                                <b-table-column field="name" label="Nama" sortable>
                                    {{ props.row.name }}
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <section class="section">
                                    <div class="content has-text-grey has-text-centered">
                                        <p>
                                            <b-icon icon="warning-octagon" size="is-large"></b-icon>
                                        </p>
                                        <p>Data Tidak Tersedia</p>
                                    </div>
                                </section>
                            </template>
                        </b-table>
                    </div>
                </b-panel>
            </div>
        </div>
    </layout>
</template>
<script>
// import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../../../config.js';
import layout from '../../../../layout/default';
export default {
    name: 'moduleTrainingTransactionTrainingClassShow',
    props: {
        trainingClassId: {
            type: String,
            required: true
        }
    },
    components: {
        layout
    },
    mounted () {
        this.currentUser = this.$store.getters.authUser;
        this.getData();
    },
    data () {
        return {
            isMember: false,
            currentUser: null,
            model: {
                id: null,
                code: null,
                name: null,
                duration_hour: null,
                duration_day: null,
                start_date: null,
                end_date: null,
                expanse: null,
                institution_id: null,
                institution: {
                    id: null,
                    name: null
                },
                category: {
                    id: null,
                    name: null
                }
            },
            members: {
                loading: false,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true,
                data: []
            },
            facilitators: {
                loading: false,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true,
                data: []
            },
            courses: {
                loading: false,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true,
                data: []
            },
            queryStringModel: `
                query FETCHDATA {
                    ModuleTrainingTransactionTrainingClass (id:"` + this.trainingClassId + `")
                    {
                        data {
                            id,
                            code,
                            name,
                            duration_hour,
                            duration_day,
                            start_date,
                            end_date,
                            expanse,
                            institution_id,
                            category_id,
                            category {
                                id,
                                name
                            },
                            institution {
                                id,
                                name
                            },
                            members {
                                id,
                                code,
                                name
                            },
                            courses {
                                id,
                                code,
                                name
                            },
                            facilitators {
                                id,
                                code,
                                name
                            }
                        }
                    }
                }`
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        isInMember () {
            const vm = this;
            for (let i = 0, len = vm.members.data.length; i < len; i++) {
                if (vm.members.data[i].id === vm.currentUser.individual_id) {
                    vm.isMember = true;
                }
            }
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModel()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        getModel () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_transaction/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringModel
                }
            })
            .then(function (response) {
                vm.model = response.data.data.ModuleTrainingTransactionTrainingClass.data[0];
                vm.members.data = response.data.data.ModuleTrainingTransactionTrainingClass.data[0].members;
                vm.courses.data = response.data.data.ModuleTrainingTransactionTrainingClass.data[0].courses;
                vm.facilitators.data = response.data.data.ModuleTrainingTransactionTrainingClass.data[0].facilitators;
                vm.isInMember();
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 1em;
}
.card-grid-wrapper {
    display: grid !important;
    grid-auto-flow: row;
}
.panel-button-has-margin-right {
    margin-right: 17px;
}
</style>
