<template>
    <layout>
        <div class="columns">
            <div class="column">
                <h2 class="title">Daftar Desa</h2>
                <b-field grouped group-multiline>
                    <b-select v-model="perPage" @input="onLimitChange()">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </b-select>
                    <b-input placeholder="No label" v-model="searchValue" icon="search" @input="onSearch()" expanded></b-input>
                    <a class="button is-success"><b-icon pack="fa" icon="plus"></b-icon></a>
                </b-field>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-table
                    :data="model.data"
                    :loading="model.loading"
                    paginated
                    backend-pagination
                    :total="model.total"
                    :per-page="model.per_page"
                    @page-change="onPageChange"
                    backend-sorting
                    :default-sort-direction="defaultSortOrder"
                    :default-sort="[orderBy, sortOrder]"
                    @sort="onSort"
                >
                    <template slot-scope="props">
                        <b-table-column field="code" label="Kode" sortable>
                            {{ props.row.code }}
                        </b-table-column>
                        <b-table-column field="name" label="Nama" sortable>
                            {{ props.row.name }}
                        </b-table-column>
                        <b-table-column field="subDistrict.name" label="Kecamatan">
                            {{ props.row.subDistrict.name }}
                        </b-table-column>
                        <b-table-column field="subDistrict.regency.name" label="Kabupaten">
                            {{ props.row.subDistrict.regency.name }}
                        </b-table-column>
                        <b-table-column field="subDistrict.regency.province" label="Propinsi">
                            {{ props.row.subDistrict.regency.province.name }}
                        </b-table-column>
                        <b-table-column label="Aksi">
                            <b-dropdown>
                                <button class="button is-info" slot="trigger">
                                    <b-icon pack="fa" icon="flag-o"></b-icon>
                                    <b-icon pack="fa" icon="caret-down"></b-icon>
                                </button>
                                <b-dropdown-item @click="onShow(props.row.id)">
                                    <b-icon icon="description" class="is-success"></b-icon>
                                    Detail
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <b-icon icon="edit" class="is-orange"></b-icon>
                                    Ubah
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <b-icon icon="delete" class="is-danger"></b-icon>
                                    Hapus
                                </b-dropdown-item>
                            </b-dropdown>
                        </b-table-column>
                    </template>
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon icon="sentiment_very_dissatisfied" size="is-large"></b-icon>
                                </p>
                                <p>Maaf Tidak Ada Data</p>
                            </div>
                        </section>
                    </template>
                </b-table>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../config.js';
import layout from '../../layout/default';
export default {
    name: 'locationVillageIndex',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
        this.getData();
    },
    data () {
        return {
            orderBy: 'name',
            sortOrder: 'asc',
            defaultSortOrder: 'asc',
            page: 1,
            perPage: 10,
            searchValue: null,
            model: {
                data: [],
                current_page: 1,
                per_page: 10,
                to: 1,
                total: 1,
                loading: false
            },
            queryOperationName: 'FetchVillages',
            queryName: 'LocationVillage',
            queryProperties: null,
            queryFieldsArray: ['to', 'total', 'per_page', 'current_page'],
            querySelectFieldsArray: null,
            querySelectFieldsString: `id, code, name, subDistrict {id, name, regency {id, name, province {id, name}}}`,
            querySelectFields: null,
            queryFields: null,
            queryString: null,
            axiosProperties: {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchVillages',
                    query: null,
                    variabels: null
                }
            }
        };
    },
    methods: {
        setAxiosProperties () {
            let firstQueryString = null;
            let lastQueryString = `},` + this.queryFieldsArray.join() + `}}`;

            if (!_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `", ` + this.orderBy + `: "` + this.searchValue.toUpperCase() + `"){data{`;
            } else if (_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            } else {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            }

            if (!_.isNil(this.querySelectFieldsString) && _.isNil(this.querySelectFieldsArray)) {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsString + lastQueryString;
            } else {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsArray.join() + lastQueryString;
            }
        },
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        onPageChange (page) {
            const vm = this;
            vm.model.loading = true;
            vm.page = page;
            vm.getModelData();
        },
        onLimitChange () {
            const vm = this;
            vm.models.loading = true;
            vm.getModelData();
        },
        onSort (field, order) {
            const vm = this;
            vm.orderBy = field;
            vm.sortOrder = order;
            vm.getModelData();
        },
        onSearch () {
            const vm = this;
            vm.models.loading = true;
            vm.getModelData();
        },
        getModelData () {
            const vm = this;
            setTimeout(() => {
                vm.model.loading = true;
                vm.setAxiosProperties();
                axios(vm.axiosProperties)
                .then(function (response) {
                    vm.model.data = response.data.data.LocationVillage.data;
                    vm.model.current_page = response.data.data.LocationVillage.current_page;
                    vm.model.per_page = response.data.data.LocationVillage.per_page;
                    vm.model.to = response.data.data.LocationVillage.to;
                    vm.model.total = response.data.data.LocationVillage.total;
                    vm.model.loading = false;
                })
                .catch(function (error) {
                    if (error) {
                        vm.model.loading = false;
                        vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                    }
                });
            }, 2000);
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        onShow (villageId) {
            this.$router.push({name: 'location-village-show', params: {villageId}});
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
