<template>
    <div>
        <aside class="menu">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li>
                    <router-link :to="{ name: 'landing-page'}" exact>
                        <b-icon pack="fa" icon="home" size="is-small"></b-icon> Home
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user-dashboard'}" exact>
                        <b-icon pack="fa" icon="dashboard" size="is-small"></b-icon> Dashboard
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'user-profile'}" exact>
                        <b-icon pack="fa" icon="id-card" size="is-small"></b-icon> Profil Pengguna
                    </router-link>
                </li>
                <li>
                    <a class="has-text-danger" @click="onLogOut">
                        <b-icon icon="logout" size="is-small"></b-icon> Keluar Applikasi
                    </a>
                </li>
            </ul>
            <p class="menu-label">
                Applikasi
            </p>
            <ul class="menu-list">
                <li>
                    <router-link :to="{ name: 'institution-master-institution-index'}" exact>
                        <b-icon pack="fa" icon="bank" size="is-small"></b-icon> Daftar Institusi
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'person-master-individual-index'}" exact>
                        <b-icon pack="fa" icon="users" size="is-small"></b-icon> Daftar Individu
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'authorization-user-index'}" exact>
                        <b-icon pack="fa" icon="sliders" size="is-small"></b-icon> Pengaturan Pengguna
                    </router-link>
                </li>
            </ul>
            <p class="menu-label">
                Pelatihan
            </p>
            <ul class="menu-list">
                <li>
                    <router-link :to="{ name: 'module-training-master-course-index'}" exact>
                        <b-icon pack="fa" icon="book" size="is-small"></b-icon> Materi Pelatihan
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'module-training-transaction-trainingClass-index'}" exact>
                        <b-icon pack="fa" icon="users" size="is-small"></b-icon> Kelas Pelatihan
                    </router-link>
                </li>
            </ul>
            <p class="menu-label">
                Referensi Pelatihan
            </p>
            <ul class="menu-list">
                <li>
                    <router-link :to="{ name: 'module-training-reference-facilitator-index'}" exact>
                        <b-icon pack="fa" icon="list-ul" size="is-small"></b-icon> Fasilitator
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'module-training-reference-learningMaterial-category-index'}" exact>
                        <b-icon pack="fa" icon="list-ul" size="is-small"></b-icon> Kategori Materi Pembelajaran
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'module-training-reference-learningMaterial-method-index'}" exact>
                        <b-icon pack="fa" icon="list-ul" size="is-small"></b-icon> Metode Materi Pembelajaran
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'module-training-reference-trainingPackage-index'}" exact>
                        <b-icon pack="fa" icon="list-ul" size="is-small"></b-icon> Paket Pelatihan
                    </router-link>
                </li>
            </ul>
        </aside>
    </div>
</template>
<script>
'use strict';
export default {
    name: 'menuPublic',
    data () {
        return {
            currentUser: this.$store.getters.authUser
        };
    },
    methods: {
        onLogOut () {
            this.$store.dispatch('clearExpiresIn');
            this.$store.dispatch('clearTokenType');
            this.$store.dispatch('clearAccessToken');
            this.$store.dispatch('clearRefreshToken');
            this.$store.dispatch('clearAuthenticate');
            this.$store.dispatch('clearAuthUser');
            this.$router.push({name: 'landing-page'});
        }
    }
};
</script>
<style lang="scss" scoped>
.menu-list {
    a {
        &:hover {
            background-color:transparent;
        }
        &.is-active {
            background-color:transparent;
        }
    }
}
</style>
