<template>
    <div>
        <aside class="menu">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li>
                    <router-link :to="{ name: 'user-profile'}" exact>
                        <b-icon pack="fa" icon="id-card" size="is-small"></b-icon> Profil Pengguna
                    </router-link>
                </li>
                <li>
                    <router-link :to="{ name: 'module-training-transaction-trainingClass-index'}" exact>
                        <b-icon pack="fa" icon="users" size="is-small"></b-icon> Kelas Pelatihan
                    </router-link>
                </li>
                <li>
                    <a class="has-text-danger" @click="onLogOut">
                        <b-icon icon="logout" size="is-small"></b-icon> Keluar Applikasi
                    </a>
                </li>
            </ul>
        </aside>
    </div>
</template>
<script>
'use strict';
export default {
    name: 'menuPublic',
    data () {
        return {
            currentUser: this.$store.getters.authUser
        };
    },
    methods: {
        onLogOut () {
            this.$store.dispatch('clearExpiresIn');
            this.$store.dispatch('clearTokenType');
            this.$store.dispatch('clearAccessToken');
            this.$store.dispatch('clearRefreshToken');
            this.$store.dispatch('clearAuthenticate');
            this.$store.dispatch('clearAuthUser');
            this.$router.push({name: 'landing-page'});
        }
    }
};
</script>
<style lang="scss" scoped>
.menu-list {
    a {
        &:hover {
            background-color:transparent;
        }
        &.is-active {
            background-color:transparent;
        }
    }
}
</style>
