<template>
</template>
<script>
'use strict';
export default {
    name: 'menuNotification'
};
</script>

<style lang="scss" scoped>
.media {
    border-top: 0px solid;
    .media-content {
        p {
            color: white;
        }
    }
}

article[class*="media"]:first-of-type {
    padding-top: 13px;
}
</style>
