<template>
    <layout>
        <h2 class="title">Satuan Unit Kerja</h2>
        <section>
            <b-field grouped group-multiline>
                <b-select placeholder="Halaman">
                    <option>12</option>
                    <option>24</option>
                    <option>48</option>
                </b-select>
                <b-select placeholder="Kategori">
                    <option>UPT</option>
                    <option>Fakultas</option>
                    <option>Departemen</option>
                    <option>Program Studi</option>
                </b-select>
                <b-input placeholder="Pencarian" icon="search" expanded></b-input>
                <p class="control">
                    <button class="button is-primary"><i class="fa fa-fw fa-search" aria-hidden="true"></i></button>
                </p>
            </b-field>
        </section>
        <br>
        <div class="container-grid">
            <div class="card card-grid-wrapper">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="/static/img/logo.png" alt="logo">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 has-text-centered">Satuan Unit Kerja</p>
                            <p class="subtitle is-6 has-text-centered">Unit Pelaksana Teknis</p>
                        </div>
                        <div class="media-right">
                            <div class="media-right">
                                <b-icon pack="fa" icon="building-o" size="is-large"></b-icon>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Kode</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td>Lembaga Penelitian dan Pengabdian Kepada Masyarakat</td>
                                </tr>
                                <tr>
                                    <td>Staff</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item"><i class="fa fa-fw fa-trash has-text-danger" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-pencil has-text-orange" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-id-card has-text-success" aria-hidden="true"></i></a>
                </footer>
            </div>
            <div class="card card-grid-wrapper">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="/static/img/logo.png" alt="logo">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 has-text-centered">Satuan Unit Kerja</p>
                            <p class="subtitle is-6 has-text-centered">Fakultas</p>
                        </div>
                        <div class="media-right">
                            <div class="media-right">
                                <b-icon pack="fa" icon="building-o" size="is-large"></b-icon>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Kode</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td>Matematika dan Ilmu Pengetahuan Alam</td>
                                </tr>
                                <tr>
                                    <td>Staff</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item"><i class="fa fa-fw fa-trash has-text-danger" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-pencil has-text-orange" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-id-card has-text-success" aria-hidden="true"></i></a>
                </footer>
            </div>
            <div class="card card-grid-wrapper">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="/static/img/logo.png" alt="logo">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 has-text-centered">Satuan Unit Kerja</p>
                            <p class="subtitle is-6 has-text-centered">Departemen</p>
                        </div>
                        <div class="media-right">
                            <div class="media-right">
                                <b-icon pack="fa" icon="building-o" size="is-large"></b-icon>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Kode</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td>Matematika</td>
                                </tr>
                                <tr>
                                    <td>Staff</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item"><i class="fa fa-fw fa-trash has-text-danger" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-pencil has-text-orange" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-id-card has-text-success" aria-hidden="true"></i></a>
                </footer>
            </div>
            <div class="card card-grid-wrapper">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-48x48">
                                <img src="/static/img/logo.png" alt="logo">
                            </figure>
                        </div>
                        <div class="media-content">
                            <p class="title is-4 has-text-centered">Satuan Unit Kerja</p>
                            <p class="subtitle is-6 has-text-centered">Program Studi</p>
                        </div>
                        <div class="media-right">
                            <div class="media-right">
                                <b-icon pack="fa" icon="building-o" size="is-large"></b-icon>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Kode</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td>Ilmu Komputer</td>
                                </tr>
                                <tr>
                                    <td>Staff</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item"><i class="fa fa-fw fa-trash has-text-danger" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-pencil has-text-orange" aria-hidden="true"></i></a>
                    <a class="card-footer-item"><i class="fa fa-fw fa-id-card has-text-success" aria-hidden="true"></i></a>
                </footer>
            </div>
        </div>
        <section class="pagination-wrapper">
            <b-pagination :total="total" :current.sync="current" :order="order" :size="size" :simple="isSimple" :per-page="perPage">
            </b-pagination>
        </section>
    </layout>
</template>
<script>
'use strict';
import layout from '../../../layout/default';
export default {
    name: 'institutionMasterUnitIndex',
    components: {
        layout
    },
    mounted () {
        // this.$store.dispatch('closeSideMenu');
    },
    data () {
        return {
            total: 200,
            current: 1,
            perPage: 20,
            order: '',
            size: '',
            isSimple: false
        };
    }
};
</script>
<style lang="scss" scoped>
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 1em;
}
.card-grid-wrapper {
    display: grid !important;
    grid-auto-flow: row;
}
.pagination-wrapper {
    padding: 11px;
}
</style>
