<template>
    <layout>
        <div class="columns">
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <b-icon size="is-large" icon="account-multiple"></b-icon>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Jumlah Individu</strong>
                                    <br>
                                    0
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <b-icon size="is-large" icon="book-variant"></b-icon>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Jumlah Materi Pembahasan</strong>
                                    <br>
                                    0
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <b-icon size="is-large" icon="briefcase"></b-icon>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Jumlah Kelas Pelatihan</strong>
                                    <br>
                                    0
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <b-icon size="is-large" icon="bank"></b-icon>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>Jumlah Instansi</strong>
                                    <br>
                                    0
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import layout from '../layout/default';
export default {
    name: 'userDashboard',
    components: {
        layout
    }
};
</script>

<style lang="scss" scoped>
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 1em;
}
.card-grid-wrapper {
    display: grid !important;
    grid-auto-flow: row;
}
</style>
