<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Profil
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <table class="table is-striped">
                            <tbody>
                                <tr>
                                    <td>Nomor Induk Kependudukan</td>
                                    <td>{{model.code}}</td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td>{{model.name}}</td>
                                </tr>
                                <tr>
                                    <td>Tempat Lahir</td>
                                    <td>{{model.birth_place}}</td>
                                </tr>
                                <tr>
                                    <td>Tanggal Lahir</td>
                                    <td>{{model.birth_date}}</td>
                                </tr>
                                <tr>
                                    <td>Jenis Kelamin</td>
                                    <td>{{model.gender.name}}</td>
                                </tr>
                                <tr>
                                    <td>Agama</td>
                                    <td>{{model.religion.name}}</td>
                                </tr>
                                <tr>
                                    <td>Pendidikan</td>
                                    <td>{{model.education.name}}</td>
                                </tr>
                                <tr>
                                    <td>Status Pernikahan</td>
                                    <td>{{model.maritalStatus.name}}</td>
                                </tr>
                                <tr>
                                    <td>Pekerjaan</td>
                                    <td>{{model.occupation.name}}</td>
                                </tr>
                                <tr>
                                    <td>Profesi</td>
                                    <td>{{model.profession.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </b-panel>
            </div>
        </div>

        <template v-if="model.id === currentUser.individual_id">
            <div class="columns">
                <div class="column">
                    <b-panel :collapsible="false">
                        <strong slot="header">
                            <template>
                                Akun Applikasi
                            </template>
                        </strong>
                        <div class="content is-fullwidth">
                            <table class="table is-striped">
                                <tbody>
                                    <tr>
                                        <td>E-Mail</td>
                                        <td>{{currentUser.email}}</td>
                                    </tr>
                                    <tr>
                                        <td>Aktif</td>
                                        <td>
                                            <template v-if="currentUser.active">
                                                <b-icon icon="check" class="has-text-success"></b-icon>
                                            </template>
                                            <template v-else>
                                                <b-icon icon="close" class="has-text-danger"></b-icon>
                                            </template>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Pengelola Applikasi</td>
                                        <td>
                                            <template v-if="currentUser.is_admin">
                                                <b-icon icon="check" class="has-text-success"></b-icon>
                                            </template>
                                            <template v-else>
                                                <b-icon icon="close" class="has-text-danger"></b-icon>
                                            </template>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </b-panel>
                </div>
            </div>
        </template>

        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Domisili
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <table class="table is-striped">
                            <tbody>
                                <tr>
                                    <td>Alamat</td>
                                    <td>{{resident.address}}</td>
                                </tr>
                                <tr>
                                    <td>Rukun Tetangga</td>
                                    <td>{{resident.neighborhood_association}}</td>
                                </tr>
                                <tr>
                                    <td>Rukun Warga</td>
                                    <td>{{resident.citizens_association}}</td>
                                </tr>
                                <tr>
                                    <td>Propinsi</td>
                                    <td>{{resident.province.name}}</td>
                                </tr>
                                <tr>
                                    <td>Kabupaten</td>
                                    <td>{{resident.regency.name}}</td>
                                </tr>
                                <tr>
                                    <td>Kecamatan</td>
                                    <td>{{resident.subDistrict.name}}</td>
                                </tr>
                                <tr>
                                    <td>Desa</td>
                                    <td>{{resident.village.name}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </b-panel>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Fasilitator Pelatihan
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <b-table
                            :data="facilitators.data"
                            :bordered="facilitators.isBordered"
                            :striped="facilitators.isStriped"
                            :narrowed="facilitators.isNarrowed"
                            :loading="facilitators.loading"
                            :mobile-cards="facilitators.hasMobileCards">
                            <template slot-scope="props">
                                <b-table-column field="code" label="Kode" sortable>
                                    {{ props.row.code }}
                                </b-table-column>
                                <b-table-column field="name" label="Nama" sortable>
                                    {{ props.row.name }}
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <div class="content has-text-grey has-text-centered">
                                    <p>Data Tidak Tersedia</p>
                                </div>
                            </template>
                        </b-table>
                    </div>
                </b-panel>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Peserta Pelatihan
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <b-table
                            :data="members.data"
                            :bordered="members.isBordered"
                            :striped="members.isStriped"
                            :narrowed="members.isNarrowed"
                            :loading="members.loading"
                            :mobile-cards="members.hasMobileCards">
                            <template slot-scope="props">
                                <b-table-column field="code" label="Kode" sortable>
                                    {{ props.row.code }}
                                </b-table-column>
                                <b-table-column field="name" label="Nama" sortable>
                                    {{ props.row.name }}
                                </b-table-column>
                            </template>
                            <template slot="empty">
                                <div class="content has-text-grey has-text-centered">
                                    <p>Data Tidak Tersedia</p>
                                </div>
                            </template>
                        </b-table>
                    </div>
                </b-panel>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import axios from 'axios';
import {apiDomain} from '../../config.js';
import layout from '../layout/default';
export default {
    name: 'personMasterIndividualShow',
    components: {
        layout
    },
    data () {
        return {
            model: {
                code: null,
                name: null,
                birth_date: null,
                birth_place: null,
                gender_id: null,
                religion_id: null,
                occupation_id: null,
                education_id: null,
                identification_type_id: null,
                marital_status_id: null,
                profession_id: null,
                deceased: false,
                education: {id: null, name: null},
                gender: {id: null, name: null},
                identificationType: {id: null, name: null},
                maritalStatus: {id: null, name: null},
                occupation: {id: null, name: null},
                profession: {id: null, name: null},
                religion: {id: null, name: null}
            },
            resident: {
                address: null,
                citizens_association: null,
                neighborhood_association: null,
                province: {
                    name: null
                },
                regency: {
                    name: null
                },
                subDistrict: {
                    name: null
                },
                village: {
                    name: null
                }
            },
            members: {
                loading: false,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true,
                data: []
            },
            facilitators: {
                loading: false,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true,
                data: []
            },
            currentUser: this.$store.getters.authUser,
            queryStringData: `query FETCHDATA {
                PersonMasterIndividual (id: "` + this.$store.getters.authUser.individual_id + `") {
                    data
                    {
                        id,
                        code,
                        name,
                        birth_date,
                        birth_place,
                        gender_id,
                        religion_id,
                        occupation_id,
                        education_id,
                        identification_type_id,
                        marital_status_id,
                        profession_id,
                        deceased,
                        gender
                        {
                            id,
                            name
                        },
                        identificationType
                        {
                            id,
                            name
                        },
                        maritalStatus
                        {
                            id,
                            name
                        },
                        occupation
                        {
                            id,
                            name
                        },
                        profession
                        {
                            id,
                            name
                        },
                        religion
                        {
                            id,
                            name
                        },
                        education
                        {
                            id,
                            name
                        },
                        members{
                            id,
                            code,
                            name,
                            institution_id,
                            institution
                            {
                                name
                            }
                        },
                        facilitators
                        {
                            id,
                            code,
                            name,
                            institution_id,
                            institution
                            {
                                name
                            }
                        },
                        residencies
                        {
                            address,
                            citizens_association,
                            neighborhood_association,
                            province
                            {
                                name
                            },
                            regency
                            {
                                name
                            },
                            subDistrict
                            {
                                name
                            },
                            village
                            {
                                name
                            }
                        }
                    }
                }
            }`
        };
    },
    mounted () {
        this.getData();
        this.currentUser = this.$store.getters.authUser;
        this.queryStringData = `query FETCHDATA {
                PersonMasterIndividual (id: "` + this.$store.getters.authUser.individual_id + `") {
                    data
                    {
                        id,
                        code,
                        name,
                        birth_date,
                        birth_place,
                        gender_id,
                        religion_id,
                        occupation_id,
                        education_id,
                        identification_type_id,
                        marital_status_id,
                        profession_id,
                        deceased,
                        gender
                        {
                            id,
                            name
                        },
                        identificationType
                        {
                            id,
                            name
                        },
                        maritalStatus
                        {
                            id,
                            name
                        },
                        occupation
                        {
                            id,
                            name
                        },
                        profession
                        {
                            id,
                            name
                        },
                        religion
                        {
                            id,
                            name
                        },
                        education
                        {
                            id,
                            name
                        },
                        members{
                            id,
                            code,
                            name,
                            institution_id,
                            institution
                            {
                                name
                            }
                        },
                        facilitators
                        {
                            id,
                            code,
                            name,
                            institution_id,
                            institution
                            {
                                name
                            }
                        },
                        residencies
                        {
                            address,
                            citizens_association,
                            neighborhood_association,
                            province
                            {
                                name
                            },
                            regency
                            {
                                name
                            },
                            subDistrict
                            {
                                name
                            },
                            village
                            {
                                name
                            }
                        }
                    }
                }
            }`;
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModel()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        getModel () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/person_master/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringData
                }
            })
            .then(function (response) {
                vm.model = response.data.data.PersonMasterIndividual.data[0];
                vm.resident = response.data.data.PersonMasterIndividual.data[0].residencies[0];
                vm.members.data = response.data.data.PersonMasterIndividual.data[0].members;
                vm.facilitators.data = response.data.data.PersonMasterIndividual.data[0].facilitators;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Gagal Diambil Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
.panel-action {
    padding-left: 3px;
    padding-right: 3px;
}
.panel-button-has-margin-right {
    margin-right: 17px;
}
</style>
