<template>
    <layout>
        <h1 class="title">Tambah Data Institusi</h1>
        <div class="columns">
            <div class="column">
                <form @submit.prevent="validateBeforeSubmit">
                    <b-field :type="errors.has('code') ? 'is-danger': 'is-info'" :message="errors.has('code') ? 'Kode Wajib Diisi' : ''">
                        <b-input
                            name="code"
                            v-model="model.code"
                            type="text"
                            placeholder="Isikan Kode"
                            v-validate="'required'"
                            :loading="isSendingData"
                            :disabled="isSendingData">
                        </b-input>
                    </b-field>
                    <br/>
                    <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? 'Nama Wajib Diisi' : ''">
                        <b-input
                            name="name"
                            v-model="model.name"
                            placeholder="Isikan Nama"
                            v-validate="'required'"
                            :loading="isSendingData"
                            :disabled="isSendingData">
                        </b-input>
                    </b-field>
                    <br/>
                    <b-field :type="errors.has('category_id') ? 'is-danger': 'is-info'" :message="errors.has('category_id') ? 'Isikan Pilihan Anda' : ''">
                        <b-select name="category_id" v-model="model.category_id" v-validate="'required'" placeholder="Pilih Kategori Institusi" :loading="isSendingData" :disabled="isSendingData" expanded>
                            <option v-for="option in institutionOptionCategories" :value="option.id" :key="option.id">
                                {{ option.name }}
                            </option>
                        </b-select>
                    </b-field>
                    <br/>
                    <b-field :type="errors.has('type_id') ? 'is-danger': 'is-info'" :message="errors.has('type_id') ? 'Isikan Pilihan Anda' : ''">
                        <b-select name="type_id" v-model="model.type_id" v-validate="'required'" placeholder="Pilih Tipe Institusi" :loading="isSendingData" :disabled="isSendingData" expanded>
                            <option v-for="option in institutionOptionTypes" :value="option.id" :key="option.id">
                                {{ option.name }}
                            </option>
                        </b-select>
                    </b-field>
                    <br/>
                    <b-field>
                        <b-checkbox v-model="model.is_active">Aktif</b-checkbox>
                    </b-field>
                    <div class="field is-grouped is-pulled-right">
                        <div class="control">
                            <router-link :to="{ name: 'institution-master-institution-index'}" class="button is-pulled-right is-danger">
                                Batal
                            </router-link>
                        </div>
                        <div class="control">
                            <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Tambahkan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
// import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../../config.js';
import layout from '../../../layout/default';
import indonesiaValidator from 'vee-validate/dist/locale/id';
export default {
    name: 'institutionMasterInstitutionCreate',
    components: {
        layout
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            institutionOptionTypes: [],
            institutionOptionCategories: [],
            isSendingData: false,
            model: {
                code: null,
                name: null,
                is_active: false,
                type_id: null,
                category_id: null
            },
            queryStringInstitutionReferenceCategory: `query FETCHDATA {InstitutionReferenceCategory (limit:100) {data {id, name}}}`,
            queryStringInstitutionReferenceType: `query FETCHDATA {InstitutionReferenceInstitutionType (limit:100) {data {id, name}}}`
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.isSendingData = true;
            axios.all([vm.getCategories(), vm.getTypes()]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.isSendingData = false;
                vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            }));
        },
        getCategories () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/institution_reference/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringInstitutionReferenceCategory
                }
            })
            .then(function (response) {
                vm.institutionOptionCategories = response.data.data.InstitutionReferenceCategory.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Kategori Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getTypes () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/institution_reference/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringInstitutionReferenceType
                }
            })
            .then(function (response) {
                vm.institutionOptionTypes = response.data.data.InstitutionReferenceInstitutionType.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Tipe Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        submitData () {
            const vm = this;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/institution_master/query',
                responseType: 'json',
                data: {
                    query: `mutation {InstitutionMasterInstitutionStore (
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                        category_id:"` + vm.model.category_id + `",
                        type_id:"` + vm.model.type_id + `",
                        is_active:` + vm.model.is_active + `
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'institution-master-institution-index'});
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
