<template>
    <div>
        <b-loading :active.sync="isLoading" :canCancel="false"></b-loading>
        <div class="wrap">
            <nav class="navbar">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <img src="/static/img/logo.png" alt="logo">&nbsp;BBPP Batangkaluku
                    </a>
                </div>
                <div class="navbar-primary-menu">
                    <a class="navbar-item" @click="openSideMenu" :class="[isSideMenuOpened ? 'is-hidden' : null]">
                        <b-icon icon="menu"></b-icon>
                    </a>
                </div>
            </nav>
            <div class="container-wrapper">
                <slot></slot>
            </div>
        </div>
        <aside :class="[isSideMenuOpened ? 'side-bar side-bar--right side-bar--show' : 'side-bar side-bar--right side-bar--hide']">
            <div class="side-bar-header">
                <div class="side-bar-header--left-side">
                    <img src="/static/img/icons/favicon-32x32.png" alt="logo">
                </div>
                <div class="side-bar-header--middle-side">
                    <a @click="changeTab" :class="[activeSideMenuTab == 'tab-SideMenu-Application' ? 'active-tab has-text-success' : 'has-text-grey-light']" data-sideBar-tab="tab-SideMenu-Application">
                        <b-icon icon="apps" :class="[activeSideMenuTab == 'tab-SideMenu-Application' ? 'has-text-success' : 'has-text-grey-light']"></b-icon>
                    </a>
                </div>
                <div class="side-bar-header--right-side">
                    <a @click="closeSideMenu">
                        <b-icon pack="mdi" icon="close" class="has-text-danger"></b-icon>
                    </a>
                </div>
            </div>
            <div class="side-bar-container">
                <div id="tab-SideMenu-Application" :class="{current: activeSideMenuTab == 'tab-SideMenu-Application'}" class="tab-content">
                    <template v-if="currentUser.is_admin">
                        <menu-admin></menu-admin>
                    </template>
                    <template v-else>
                        <menu-member></menu-member>
                    </template>
                </div>
            </div>
        </aside>
    </div>
</template>

<script>
'use strict';
import Ps from 'perfect-scrollbar';
import MenuAdmin from '../menu/admin';
import MenuMember from '../menu/member';
import MenuNotification from '../menu/notification';
export default {
    name: 'layoutDefault',
    data () {
        return {
            activeSideMenuTab: 'tab-SideMenu-Application'
        };
    },
    computed: {
        isSideMenuOpened () {
            return this.$store.getters.isSideMenuOpened;
        },
        currentUser () {
            return this.$store.getters.authUser;
        },
        isLoading () {
            let returned = false;
            if (this.$store.getters.isShowLoader) {
                returned = true;
            }
            return returned;
        }
    },
    components: {
        'menu-admin': MenuAdmin,
        'menu-member': MenuMember,
        'menu-notification': MenuNotification
    },
    methods: {
        openSideMenu () {
            document.documentElement.classList.add('is-clipped');
            this.$store.dispatch('openSideMenu');
            var sideBarContainer = document.querySelector('.side-bar-container');
            Ps.initialize(sideBarContainer);
        },
        closeSideMenu () {
            var sideBarContainer = document.querySelector('.side-bar-container');
            Ps.destroy(sideBarContainer);
            document.documentElement.classList.remove('is-clipped');
            this.$store.dispatch('closeSideMenu');
        },
        changeTab (event) {
            if (event.currentTarget.getAttribute('data-sideBar-tab')) {
                this.activeSideMenuTab = event.currentTarget.getAttribute('data-sideBar-tab');
            } else {
                this.activeSideMenuTab = event.currentTarget.parentNode.getAttribute('data-sideBar-tab');
            }
        }
    }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
$desktop: 1000px;
$black: hsl(0, 0%, 4%);
$black-bis: hsl(0, 0%, 7%);
$black-ter: hsl(0, 0%, 14%);
.wrap {
    .navbar {
        display: flex;
        justify-content: space-between;
        background-color: $black-ter;
        position: fixed;
        width: 100%;
        z-index: 3;
        .navbar-brand {
            .navbar-item {
                color: white;
                background-color: transparent;
            }
        }
        .navbar-primary-menu {
            justify-content: flex-end;
            align-items: center;
            padding: 0.4rem;
            height: 100% !important;
            .navbar-item {
                justify-content: center;
                color: white;
                &:hover {
                    background-color: transparent;
                }
            }
        }
    }
    .container-wrapper {
        padding: 13px;
        padding-top: 67px;
    }
}

$sidebar-width: 285px !default;
$sidebar-z-index: 5 !default;
$sidebar-background-color: hsla(210, 18%, 4%, .9);
$red: hsl(348, 100%, 61%);

.side-bar {
    background-color: white;
    display: flex;
    height: 100vh;
    width: $sidebar-width;
    flex-direction: column;
    z-index: $sidebar-z-index;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: $sidebar-background-color;
    &.side-bar--show {
        visibility: visible;
        opacity: 1;
        transition: all .3s ease;
    }
    &.side-bar--hide {
        visibility: hidden;
        opacity: 0;
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    &.side-bar--left {
        left: 0;
        right: auto;
    }
    &.side-bar--right {
        left: auto;
        right: 0;
    }
    .side-bar-header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        .side-bar-header--left-side {
            display: inline-flex;
            padding: 11px;
            padding-left: 21px;
            padding-top: 14px;
            img {
                width: 21px;
                height: 21px;
            }
        }
        .side-bar-header--right-side {
            display: inline-flex;
            padding: 11px;
            padding-right: 21px;
        }

        .side-bar-header--middle-side {
            display: inline-flex;
            padding: 11px;
        }
    }
    .side-bar-container {
        padding: 7px;
        margin-top: 11px;
        overflow: hidden;
        .tab-content {
            display: none;
            &.current {
                display: inherit;
            }
        }
    }
}
</style>
