<template>
    <div class="wrapper-grid">
        <div class="header-image is-hidden-touch"></div>
        <div class="login-box box is-radiusless">
            <div class="has-text-centered">
                <img src="/static/img/logo.png"width="128" height="128">
            </div>
            <slot></slot>
        </div>
    </div>
</template>
<script>
export default {
    name: 'LayoutLogin'
};
</script>
<style lang="scss">
.header-image {
    background: #00d2ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #00d2ff, #3a7bd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #00d2ff, #3a7bd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-image: url('/static/img/backgroundLogin.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: 60% 40%;
    width: 100vw;
    height: 100vh;
    @media (min-width: 360px) and (max-width: 1023px) {
        grid-template-columns: 100%;
    }
    .login-box {
        justify-self: center;
        align-self:   center;
    }
}
</style>
