<template>
    <div>
        <section class="hero is-info is-small is-header-gradient">
            <!-- Hero head: will stick at the top -->
            <div class="hero-head">
                <nav class="navbar is-transparent">
                    <div class="container">
                        <div class="navbar-brand">
                            <a class="navbar-item"><img src="/static/img/logo.png" alt="Logo">&nbsp;BBPP Batangkaluku</a>
                            <span class="navbar-burger burger is-transparent" @click="openSideMenu" :class="[isSideMenuOpened ? 'is-active' : null]">
                                <span></span>
                                <span></span>
                                <span></span>
                            </span>
                        </div>
                        <div :class="[isSideMenuOpened ? 'navbar-menu is-active' : 'navbar-menu']">
                            <div class="navbar-end">
                                <router-link :to="{ name: 'landing-page'}" class="navbar-item">Beranda</router-link>
                                <template v-if="isAuthenticated">
                                    <router-link :to="{ name: 'user-dashboard'}" class="navbar-item">Halaman Pengguna</router-link>
                                </template>
                                <template v-else>
                                    <router-link :to="{ name: 'login'}" class="navbar-item">Login</router-link>
                                    <router-link :to="{ name: 'register'}" class="navbar-item">Registrasi</router-link>
                                </template>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </section>
        <div class="section main">
            <div class="container">
                <slot></slot>
            </div>
        </div>
        <footer class="footer bg-is-white">
            <div class="container">
                <div class="content has-text-centered">
                    <p>
                        Badan Penyuluhan dan Pengembangan Sumber Daya Manusia Pertanian
                        <br>
                        Kementrian Pertanian
                        <br>
                        Batangkaluku Gowa Sulawesi Selatan
                    </p>
                    <p>&copy; 2017</p>
                </div>
            </div>
        </footer>
    </div>
</template>
<script>
'use strict';
export default {
    name: 'layoutRegistration',
    data () {
        return {
            isSideMenuOpened: false
        };
    },
    methods: {
        openSideMenu () {
            this.isSideMenuOpened = !this.isSideMenuOpened;
        }
    },
    mounted () {
        document.documentElement.classList.remove('is-clipped');
    },
    computed: {
        isAuthenticated () {
            return this.$store.getters.isAuthenticated;
        }
    }
};
</script>
<style lang="scss" scoped>
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.is-header-gradient {
    background: #38ef7d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #11998e, #38ef7d); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #11998e, #38ef7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.center-flex {
    justify-content: center;
    align-items: center;
}
</style>
