<template>
    <layout>
        <div class="columns">
            <div class="column">
                <h2 class="title">Daftar Tipe Kabupaten</h2>
                <button class="button is-success is-pulled-right"
                    @click="isComponentModalActive = true">
                    <b-icon pack="fa" icon="plus"></b-icon>
                </button>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-table
                    :data="models.data"
                    :bordered="models.isBordered"
                    :striped="models.isStriped"
                    :narrowed="models.isNarrowed"
                    :loading="models.loading"
                    :mobile-cards="models.hasMobileCards">
                    <template slot-scope="props">
                        <b-table-column label="Kode">
                            {{ props.row.code }}
                        </b-table-column>
                        <b-table-column label="Nama">
                            {{ props.row.name }}
                        </b-table-column>
                        <b-table-column label="Aksi">
                            <b-dropdown>
                                <button class="button is-info" slot="trigger">
                                    <b-icon pack="fa" icon="flag-o"></b-icon>
                                    <b-icon pack="fa" icon="caret-down"></b-icon>
                                </button>
                                <b-dropdown-item @click="[openModal(props.row), isComponentModalActive = true, isEdit = true]">
                                    <b-icon icon="edit" class="is-orange"></b-icon>
                                    Ubah
                                </b-dropdown-item>
                                <b-dropdown-item @click="[isComponentModalDeleteActive = true, model.id = props.row.id]">
                                    <b-icon icon="delete" class="is-danger"></b-icon>
                                    Hapus
                                </b-dropdown-item>
                            </b-dropdown>
                        </b-table-column>
                        <b-modal :active.sync="isComponentModalActive" has-modal-card @close="closeModal">
                            <form  @submit.prevent="[isEdit ? validateBeforeUpdate() : validateBeforeSubmit()]">
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <template v-if="!isEdit">
                                            <p class="modal-card-title">Tambah Data</p>
                                        </template>
                                        <template v-else>
                                            <p class="modal-card-title">Edit Data</p>
                                        </template>
                                    </header>
                                    <section class="modal-card-body">
                                        <b-field :type="errors.has('code') ? 'is-danger': 'is-info'" :message="errors.has('code') ? errors.first('code') : ''">
                                            <b-input
                                                name="code"
                                                type="text"
                                                v-model="model.code"
                                                placeholder="Isikan Kode"
                                                v-validate="'required'"
                                                required>
                                            </b-input>
                                        </b-field>
                                        <br>
                                        <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? 'Nama Harus Di isi' : ''">
                                            <b-input
                                                name="name"
                                                type="text"
                                                v-model="model.name"
                                                placeholder="Isikan Nama"
                                                v-validate="'required'"
                                                required>
                                        </b-input>
                                    </b-field>
                                </section>
                                <footer class="modal-card-foot">
                                    <button class="button" type="button" @click="closeModal()" :class="{'is-loading':isSendingData}">Batal</button>
                                    <button class="button is-pulled-right is-success is-pulled-right" type="submit" :class="{'is-loading':isSendingData}">Ya</button>
                                </footer>
                            </div>
                        </form>
                        </b-modal>
                        <b-modal :active.sync="isComponentModalDeleteActive" has-modal-card @close="closeModal">
                            <form  @submit.prevent="deleteData(model.id)">
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title has-text-centered">Apakah Anda Ingin Menghapus Data ?</p>
                                    </header>
                                    <footer class="modal-card-foot ">
                                        <button class="button" type="button" @click="closeModal()">Tidak</button>
                                        <button class="button is-pulled-right is-success is-pulled-right" type="submit":class="{'is-loading':isSendingData}">Ya</button>
                                    </footer>
                                </div>
                            </form>
                        </b-modal>
                    </template>
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon
                                        icon="sentiment_very_dissatisfied"
                                        size="is-large">
                                    </b-icon>
                                </p>
                                <p>Nothing here.</p>
                            </div>
                        </section>
                    </template>
                </b-table>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../config.js';
import layout from '../../layout/default';
import indonesiaValidator from 'vee-validate/dist/locale/id';
export default {
    name: 'LocationRegencyTypeIndex',
    components: {
        layout
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
        this.getData();
    },
    data () {
        return {
            isSendingData: false,
            isFetching: false,
            orderBy: 'name',
            sortOrder: 'asc',
            defaultSortOrder: 'asc',
            page: 1,
            perPage: 10,
            searchValue: null,
            isComponentModalActive: false,
            isComponentModalDeleteActive: false,
            isEdit: false,
            models: {
                data: [],
                code: null,
                name: null,
                current_page: 1,
                per_page: 10,
                to: 1,
                total: 1,
                loading: true,
                isNarrowed: false,
                isBordered: false,
                isStriped: false,
                hasMobileCards: false
            },
            model: {
                id: null,
                code: null,
                name: null
            },
            queryOperationName: 'FetchRegencyTypes',
            queryName: 'LocationRegencyType',
            queryProperties: null,
            queryFieldsArray: ['to', 'total', 'per_page', 'current_page'],
            querySelectFieldsArray: ['id', 'code', 'name'],
            querySelectFieldsString: null,
            querySelectFields: null,
            queryFields: null,
            queryString: null,
            axiosProperties: {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchRegencyTypes',
                    query: null,
                    variabels: null
                }
            }
        };
    },
    methods: {
        openModal (data) {
            const vm = this;
            console.log(data);
            vm.isEdit = false;
            if (!_.isNull(data.id) && !_.isNull(data.code) && !_.isNull(data.name)) {
                vm.model.id = data.id;
                vm.model.code = data.code;
                vm.model.name = data.name;
                vm.isEdit = true;
            }

            if (!vm.isEdit) {
                vm.model = {
                    id: null,
                    code: null,
                    name: null
                };
            }
        },
        closeModal () {
            const vm = this;
            vm.isComponentModalActive = false;
            vm.isEdit = false;
            vm.model = {
                id: null,
                code: null,
                name: null
            };
            vm.isComponentModalDeleteActive = false;
        },
        getModelData () {
            const vm = this;
            setTimeout(() => {
                vm.models.loading = true;
                axios({
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                    },
                    method: 'post',
                    url: apiDomain + '/api/graphql/location/query',
                    responseType: 'json',
                    data: {
                        operationName: 'FetchRegencyType',
                        query: `
                        query FetchRegencyType {
                            LocationRegencyType {
                                data {
                                    id,
                                    code,
                                    name,
                                }
                            }
                        }`,
                        variabels: null
                    }
                })
                .then(function (response) {
                    vm.models.data = response.data.data.LocationRegencyType.data;
                    vm.models.current_page = response.data.data.LocationRegencyType.current_page;
                    vm.models.per_page = response.data.data.LocationRegencyType.per_page;
                    vm.models.to = response.data.data.LocationRegencyType.to;
                    vm.models.total = response.data.data.LocationRegencyType.total;
                    vm.models.loading = false;
                    vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
                })
                .catch(function (error) {
                    if (error) {
                        vm.models.loading = false;
                        vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                    }
                });
            }, 1000);
        },
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        validateBeforeSubmit () {
            this.isFetching = true;
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeUpdate () {
            this.isFetching = true;
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.updateData();
                } else {
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        delete () {
            const vm = this;
            vm.closeModal('delete');
        },
        submitData () {
            const vm = this;
            vm.isFetching = true;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    query: `mutation {LocationRegencyTypeStore (
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.isSendingData = false;
                vm.id = response.data.data.LocationRegencyTypeStore.id;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.closeModal('edit');
                vm.getData();
            })
            .catch(function (error) {
                vm.isFetching = false;
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        updateData () {
            const vm = this;
            vm.isFetching = true;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    query: `mutation {LocationRegencyTypeUpdate(
                        id:"` + vm.model.id + `",
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.isSendingData = false;
                vm.id = response.data.data.LocationRegencyTypeUpdate.id;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.closeModal('edit');
                vm.getData();
            })
            .catch(function (error) {
                vm.isFetching = false;
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        deleteData (id) {
            const vm = this;
            vm.isFetching = true;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    query: `mutation {LocationRegencyTypeDelete(
                        id:"` + id + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.isSendingData = false;
                vm.id = response.data.data.LocationRegencyTypeDelete.id;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.closeModal();
                vm.getData();
            })
            .catch(function (error) {
                console.log(error);
                vm.isFetching = false;
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
