<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false" class="is-fullheight">
                    <strong slot="header">Tambah Data Propinsi</strong>
                    <div class="content is-fullwidth">
                        <form @submit.prevent="validateBeforeSubmit">
                            <b-field :type="errors.has('code') ? 'is-danger': 'is-info'" :message="errors.has('code') ? errors.first('code') : ''">
                                <b-input
                                    name="code"
                                    v-model="model.code"
                                    type="text"
                                    placeholder="Isikan Kode"
                                    v-validate="'required'"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? errors.first('name') : ''">
                                <b-input
                                    name="name"
                                    v-model="model.name"
                                    placeholder="Isikan Nama"
                                    v-validate="'required'"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('country') ? 'is-danger': 'is-info'" :message="errors.has('country') ? errors.first('country') : ''">
                                <b-autocomplete
                                    name="country"
                                    v-model="name"
                                    :data="data"
                                    field="name"
                                    placeholder="Isikan Negara"
                                    :keep-first="keepFirst"
                                    :loading="isFetching"
                                    @input="getAsyncData"
                                    @select="option => model.country = option"
                                    v-validate="'required'"
                                    :disabled="isSendingData"
                                >
                                </b-autocomplete>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('dikti_code') ? 'is-danger': 'is-info'" :message="errors.has('dikti_code') ? errors.first('dikti_code') : ''">
                                <b-input
                                    name="dikti_code"
                                    v-model="model.dikti_code"
                                    placeholder="Isikan Kode Dikti"
                                    v-validate="'required'"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.epsbed_code" placeholder="Isikan Kode Epsbed" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.state_ministry_code" placeholder="Isikan Kode Kementrian Dalam Negeri" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.state_ministry_name" placeholder="Isikan Nama Kementrian Dalam Negeri" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.state_post_department_code" placeholder="Isikan Kode Pos" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.validation_code" placeholder="Isikan Kode Validasi" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <div class="field is-grouped is-pulled-right">
                                <div class="control">
                                    <router-link :to="{ name: 'location-province-index'}" class="button is-pulled-right is-danger">
                                        Batal
                                    </router-link>
                                </div>
                                <div class="control">
                                    <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Tambahkan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </b-panel>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import _ from 'lodash';
import axios from 'axios';
import layout from '../../layout/default';
import {apiDomain} from '../../../config.js';
import indonesiaValidator from 'vee-validate/dist/locale/id';
export default {
    name: 'locationProvinceCreate',
    components: {
        layout
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            data: [],
            name: '',
            selected: null,
            isFetching: false,
            keepFirst: false,
            isSendingData: false,
            model: {
                id: null,
                code: null,
                name: null,
                dikti_code: null,
                epsbed_code: null,
                country: {
                    id: null,
                    name: null
                },
                state_ministry_code: null,
                state_post_department_code: null,
                state_ministry_name: null,
                validation_code: null
            },
            queryStringCountry: `query FetchCountries {LocationCountry {data {id,name}}}`
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getCountries () {
            const vm = this;
            vm.isFetching = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchCountries',
                    query: vm.queryStringCountry,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.data = response.data.data.LocationCountry.data;
            })
            .catch(function (error) {
                vm.isFetching = false;
                if (error) {
                    vm.callSnackbar('Data Negara Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getAsyncData () {
            const vm = this;
            let strSearch = vm.name;
            vm.data = [];
            vm.isFetching = true;
            if (!_.isEmpty(strSearch)) {
                vm.queryStringCountry = `query FetchCountries {LocationCountry(name:"` + strSearch.toUpperCase() + `") {data {id,name}}}`;
                vm.getCountries();
            } else {
                vm.getCountries();
            }
        },
        getData () {
            const vm = this;
            axios.all([vm.getCountries()]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            }));
        },
        submitData () {
            const vm = this;
            vm.isFetching = true;
            vm.isSendingData = true;
            axios({
                headers: {
            'Content-Type': 'application/json',
            'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
        },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    query: `mutation {LocationProvinceStore (
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                        dikti_code:"` + vm.model.dikti_code + `",
                        country_id:"` + vm.model.country.id + `",
                        state_ministry_code:"` + vm.model.state_ministry_code + `",
                        state_post_department_code:"` + vm.model.state_post_department_code + `",
                        state_ministry_name:"` + vm.model.state_ministry_name + `"
                        validation_code:"` + vm.model.validation_code + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.isSendingData = false;
                vm.model.id = response.data.data.LocationProvinceStore.id;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'location-province-show', params: { provinceId: vm.model.id }});
            })
            .catch(function (error) {
                vm.isFetching = false;
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isFetching = true;
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
