<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false" class="is-fullheight">
                    <strong slot="header">
                        Data Propinsi
                        <template>
                            Data Propinsi
                            <div class="is-pulled-right">
                                <b-dropdown position="is-bottom-left">
                                    <a slot="trigger">
                                        <b-icon class="is-pulled-right is-info" pack="mdi" icon="apps"></b-icon>
                                    </a>
                                    <b-dropdown-item>
                                        <b-icon icon="description" class="is-success"></b-icon>
                                        Detail
                                    </b-dropdown-item>
                                    <b-dropdown-item>
                                        <b-icon icon="edit" class="is-orange"></b-icon>
                                        Ubah
                                    </b-dropdown-item>
                                    <b-dropdown-item>
                                        <b-icon icon="delete" class="is-danger"></b-icon>
                                        Hapus
                                    </b-dropdown-item>
                                </b-dropdown>
                            </div>
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <table class="table is-fullwidth">
                            <tbody>
                                <tr>
                                    <td>Kode</td>
                                    <td>{{model.code}}</td>
                                </tr>
                                <tr>
                                    <td>Nama</td>
                                    <td>{{model.name}}</td>
                                </tr>
                                <tr>
                                    <td>Kode Dikti</td>
                                    <td>{{model.dikti_code}}</td>
                                </tr>
                                <tr>
                                    <td>Nama Dikti</td>
                                    <td>{{model.dikti_name}}</td>
                                </tr>
                                <tr>
                                    <td>Epsbed Code</td>
                                    <td>{{model.epsbed_code}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </b-panel>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false" class="is-fullheight">
                    <strong slot="header">Data Kabupaten</strong>
                    <div class="content is-fullwidth">
                        <b-table :data="provinces.items">
                            <template slot-scope="props">
                                <b-table-column field="code" label="Kode">
                                    {{ props.row.code }}
                                </b-table-column>
                                <b-table-column field="name" label="Nama">
                                    {{ props.row.name }}
                                </b-table-column>
                                <b-table-column label="Aksi">
                                    <b-dropdown>
                                        <button class="button is-info" slot="trigger">
                                            <b-icon pack="fa" icon="leaf"></b-icon>
                                            <b-icon pack="fa" icon="caret-down"></b-icon>
                                        </button>
                                        <b-dropdown-item>
                                            <b-icon icon="description" class="is-success"></b-icon>
                                            Detail
                                        </b-dropdown-item>
                                        <b-dropdown-item>
                                            <b-icon icon="edit" class="is-orange"></b-icon>
                                            Ubah
                                        </b-dropdown-item>
                                        <b-dropdown-item>
                                            <b-icon icon="delete" class="is-danger"></b-icon>
                                            Hapus
                                        </b-dropdown-item>
                                    </b-dropdown>
                                </b-table-column>
                            </template>
                        </b-table>
                    </div>
                </b-panel>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import axios from 'axios';
import collect from 'collect.js';
import layout from '../../layout/default';
import {apiDomain} from '../../../config.js';
export default {
    name: 'locationProvinceShow',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
        this.getData();
    },
    data () {
        return {
            model: {
                id: null,
                code: null,
                name: null,
                dikti_code: null,
                epsbed_code: null,
                state_ministry_code: null,
                state_post_department_code: null,
                state_ministry_name: null,
                dikti_name: null,
                regencies: []
            },
            provinces: {
                items: []
            }
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getModelData () {
            const vm = this;
            vm.model.loading = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchProvince',
                    query: `
                    query FetchProvince($id: String = "` + vm.provinceId + `") {
                        LocationProvince (id: $id) {
                            data {
                                id,
                                code,
                                name,
                                dikti_code,
                                epsbed_code,
                                state_ministry_code,
                                state_post_department_code,
                                state_ministry_name,
                                dikti_name
                                regencies {
                                    id,
                                    code,
                                    name
                                }
                            }
                        }
                    }`,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.model = response.data.data.LocationProvince.data[0];
                vm.provinces = collect(vm.model.regencies).sortBy('name');
                vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            })
            .catch(function (error) {
                if (error) {
                    vm.model.loading = false;
                    vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        onIndex () {
            this.$router.push({name: 'location-province-index'});
        }
    },
    props: {
        provinceId: {
            type: String,
            required: true
        }
    }
};
</script>

<style lang="scss" scoped>

</style>
