<template>
    <layout>
        <div class="columns">
            <div class="column is-10">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Profil Universitas
                            <a><b-icon class="is-pulled-right is-orange" pack="mdi" icon="edit"></b-icon></a>
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <table class="table is-striped">
                            <tbody>
                                <tr>
                                    <td>Nama</td>
                                    <td>Universitas Hasanuddin</td>
                                </tr>
                                <tr>
                                    <td>Surat Keputusan</td>
                                    <td>3369</td>
                                </tr>
                                <tr>
                                    <td>Tanggal Surat Keputusan</td>
                                    <td>11 Juni 1956</td>
                                </tr>
                                <tr>
                                    <td>Tanggal Berdiri</td>
                                    <td>11 Juni 1956</td>
                                </tr>
                                <tr>
                                    <td>Alamat</td>
                                    <td>Jln.Perintis Kemerdekaan KM.10 Kampus Universitas Hasanuddin Tamalanrea Makassar 90245</td>
                                </tr>
                                <tr>
                                    <td>Tipe</td>
                                    <td>Perguruan Tinggi Umum</td>
                                </tr>
                                <tr>
                                    <td>Kategori</td>
                                    <td>Universitas</td>
                                </tr>
                                <tr>
                                    <td>Email</td>
                                    <td>vicerector1@unhas.ac.id</td>
                                </tr>
                                <tr>
                                    <td>Alamat Website</td>
                                    <td>unhas.ac.id</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </b-panel>
            </div>
            <div class="column is-2">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-1by1">
                            <img src="/static/img/logo.png" alt="logo_unhas" style="padding:7px;">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false">
                    <strong slot="header">
                        <template>
                            Satuan Unit Kerja
                        </template>
                    </strong>
                    <div class="content is-fullwidth">
                        <table class="table is-striped">
                            <tbody>
                                <tr>
                                    <td>Unit Pelaksana Teknis</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Fakultas</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Departemen</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Program Studi</td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </b-panel>
            </div>
        </div>
    </layout>
</template>

<script>
'use strict';
import layout from '../../../layout/default';
export default {
    name: 'intitutionCurrentIndex',
    components: {
        layout
    },
    mounted () {
        // this.$store.dispatch('closeSideMenu');
    }
};
</script>

<style lang="scss" scoped>
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 1em;
}
.card-grid-wrapper {
    display: grid !important;
    grid-auto-flow: row;
}
</style>
