$radius: 0;
$shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
$shadow-large: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);

@import "~bulmaswatch/materia/_variables.scss";
//$body-background: rgb(37, 40, 48);
.appContainer {
    width: 100vw;
    height: 100vh;
};
$menu-item-radius: $radius;
$menu-item-color: #C8C8C8;
$menu-item-hover-color: hsl(141, 71%, 48%);
$input-radius: $radius;
$navbar-height: 3.25rem;
@import "~bulma/sass/utilities/_all";
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "~bulmaswatch/materia/_overrides.scss";
$ps-rail-default-opacity: 0 !default;
$ps-rail-container-hover-opacity: 0.4 !default;
$ps-rail-hover-opacity: 0.4 !default;
$ps-bar-bg: transparent !default;
$ps-bar-container-hover-bg: rgba(37, 49, 56, .9) !default;
$ps-bar-hover-bg: rgba(37, 49, 56, .9) !default;
$ps-rail-hover-bg: rgba(37, 49, 56, .9) !default;

// Sizes
$ps-scrollbar-x-rail-bottom: 0px !default;
$ps-scrollbar-x-rail-height: 6px !default;
$ps-scrollbar-x-bottom: 2px !default;
$ps-scrollbar-x-height: 6px !default;
$ps-scrollbar-x-hover-height: 6px !default;

$ps-scrollbar-y-rail-right: 0 !default;
$ps-scrollbar-y-rail-width: 6px !default;
$ps-scrollbar-y-right: 2px !default;
$ps-scrollbar-y-width: 6px !default;
$ps-scrollbar-y-hover-width: 6px !default;
@import '~perfect-scrollbar/src/css/main';
.menu-label {
    i {
        padding-top: 3px;
    }
}
.menu-list {
    li {
        a {
            &:hover {
                background-color: inherit;
            }
            &.is-active {
                background-color: inherit;
            }
        }
        ul {
            padding-left: 3px !important;
            border: 0px !important;
        }
    }
}
.names {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  }

div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 14px sans-serif;
    color: white;
    background: black;
    border: 0px;
    border-radius: 0px;
    pointer-events: none;
}

/*  text{pointer-events:none;} */
.details{
    color:white;
}

/* vue multiselect */
.multiselect {
    .multiselect__tags {
        border-radius: 0px;
        border: 0px;
        border-bottom: 1px solid #e8e8e8;
        .multiselect__tags-wrap {
            .custom__tag {
                display: inline-block;
                padding: 3px 12px;
                background: #d2d7ff;
                margin-right: 8px;
                margin-bottom: 8px;
                border-radius: 0px;
                cursor: pointer;
                .custom__remove {
                    padding: 0px;
                    font-size: 10px;
                    margin-left: 5px;
                }
            }
            .custom__tag:nth-child(2n) {
                background: #daffee;
            }
        }
    }
    .multiselect__content-wrapper {
        border-radius: 0px;
        .multiselect__content {
            margin-left: 0px;
            margin-top: 0px;
        }
    }
}

.is-fullwidth {
    width: 100% !important;
}

.is-fullheight {
    height: 100% !important;
}

.has-text-orange {
    color: orange;
}
.button {
  &.is-orange {
      color: orange;
      &.is-outlined {
          border-color: orange;
      }
      &.is-outlined:hover {
          background-color: orange;
          color: white;
      }
  }
}
.is-orange {
    color: orange;
}
.b-tabs {
    .tabs {
        ul {
            margin: 0px;
            li {
                margin-top: 0.25em;
            }
        }
    }
}
