<template>
    <layout>
    </layout>
</template>

<script>
'use strict';
import layout from '../../../../layout/default';
export default {
    name: 'moduleHumanResourceReferenceContractTypeIndex',
    components: {
        layout
    },
    mounted () {
        // this.$store.dispatch('closeSideMenu');
    }
};
</script>

<style lang="scss" scoped>
</style>
