<template>
    <layout>
    </layout>
</template>
<script>
'use strict';
import layout from '../../../../layout/default';
export default {
    name: 'personReferenceBiodataReligionIndex',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
    },
    data () {
        return {

        };
    },
    methods: {

    }
};
</script>
<style lang="scss" scoped>
</style>
