<template>
<layout>
    <h1 class="title">Ubah Data Referensi Kategori Materi Pelatihan</h1>
    <div class="columns">
        <div class="column">
            <form @submit.prevent="validateBeforeSubmit">
                <b-field :type="errors.has('code') ? 'is-danger': 'is-info'" :message="errors.has('code') ? 'Kode Wajib Diisi' : ''">
                    <b-input
                        name="code"
                        v-model="model.code"
                        type="text"
                        placeholder="Isikan Kode"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData">
                    </b-input>
                </b-field>
                <br/>
                <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? 'Nama Wajib Diisi' : ''">
                    <b-input
                        name="name"
                        v-model="model.name"
                        placeholder="Isikan Nama"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData">
                    </b-input>
                </b-field>
                <br/>
                <b-field :type="errors.has('training_package_id') ? 'is-danger': 'is-info'" :message="errors.has('training_package_id') ? 'Isikan Pilihan Anda' : ''">
                    <b-select name="training_package_id" v-model="model.training_package_id" v-validate="'required'" placeholder="Pilih Paket Pelatihan" :loading="isSendingData" :disabled="isSendingData" expanded>
                        <option v-for="option in trainingPackages" :value="option.id" :key="option.id">
                            {{ option.name }}
                        </option>
                    </b-select>
                </b-field>
                <br/>
                <b-field>
                    <b-select name="parent_id" v-model="model.parent_id" placeholder="Pilih Kategori Pelatihan" :loading="isSendingData" :disabled="isSendingData" expanded>
                        <option v-for="option in parentCategories" :value="option.id" :key="option.id">
                            {{ option.name }}
                        </option>
                    </b-select>
                </b-field>
                <br/>
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <router-link :to="{ name: 'module-training-reference-learningMaterial-category-index'}" class="button is-pulled-right is-danger">
                            Batal
                        </router-link>
                    </div>
                    <div class="control">
                        <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Perbaharui</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</layout>
</template>
<script>
'use strict';
// import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../../../../config.js';
import layout from '../../../../../layout/default';
import indonesiaValidator from 'vee-validate/dist/locale/id';
export default {
    name: 'moduleTrainingReferenceLearningMaterialCategoryCreate',
    components: {
        layout
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    props: {
        categoryId: {
            type: String,
            required: true
        }
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            editorOption: {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        [{'color': []}, {'background': []}],
                        [{'font': []}],
                        [{'align': []}],
                        ['clean']
                    ]
                }
            },
            isSendingData: false,
            model: {
                id: null,
                code: null,
                name: null,
                parent_id: null,
                training_package_id: null
            },
            trainingPackages: [],
            parentCategories: [],
            queryStringModuleTrainingReferenceTrainingPackage: `query FETCHDATA {ModuleTrainingReferenceTrainingPackage (limit:1000) {data {id, name}}}`,
            queryStringModuleTrainingReferenceLearningMaterialCategory: `query FETCHDATA {ModuleTrainingReferenceLearningMaterialCategory (limit:1000) {data {id, name}}}`
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getTrainingCategories(),
                vm.getParentData(),
                vm.getModel()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        getModel () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: `query FETCHDATA {ModuleTrainingReferenceLearningMaterialCategory (id:"` + vm.categoryId + `") {data {id, code, name, description, parent_id, training_package_id}}}`
                }
            })
            .then(function (response) {
                vm.model = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.data[0];
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Negara Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getTrainingCategories () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringModuleTrainingReferenceTrainingPackage
                }
            })
            .then(function (response) {
                vm.trainingPackages = response.data.data.ModuleTrainingReferenceTrainingPackage.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Kategori Pelatihan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getParentData () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringModuleTrainingReferenceLearningMaterialCategory
                }
            })
            .then(function (response) {
                vm.parentCategories = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Kategori Pelatihan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        submitData () {
            const vm = this;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: `mutation {ModuleTrainingReferenceLearningMaterialCategoryUpdate (
                        id:"` + vm.model.id + `",
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                        training_package_id:"` + vm.model.training_package_id + `",
                        parent_id:"` + vm.model.parent_id + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'module-training-reference-learningMaterial-category-index'});
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style>
</style>
