<template>
<layout>
    <h1 class="title">Ubah Data Deskripsi Referensi Kategori Materi Pelatihan</h1>
    <div class="columns">
        <div class="column">
            <table class="table table is-bordered table is-striped is-fullwidth">
                <tbody>
                    <tr>
                        <td>Kode</td>
                        <td>{{model.code}}</td>
                    </tr>
                    <tr>
                        <td>Nama</td>
                        <td>{{model.name}}</td>
                    </tr>
                    <tr>
                        <td>Paket Pelatihan</td>
                        <td>{{model.trainingPackage.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <form @submit.prevent="validateBeforeSubmit">
                <quill-editor v-model="model.description"
                    ref="myQuillEditor"
                    :options="editorOption">
                </quill-editor>
                <br/>
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <router-link :to="{ name: 'module-training-reference-learningMaterial-category-index'}" class="button is-pulled-right is-danger">
                            Batal
                        </router-link>
                    </div>
                    <div class="control">
                        <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Perbaharui</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</layout>
</template>
<script>
'use strict';
// import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../../../../config.js';
import layout from '../../../../../layout/default';
import indonesiaValidator from 'vee-validate/dist/locale/id';
export default {
    name: 'moduleTrainingReferenceLearningMaterialCategoryCreate',
    components: {
        layout
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    props: {
        categoryId: {
            type: String,
            required: true
        }
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            editorOption: {
                modules: {
                    toolbar: [
                        ['bold', 'italic', 'underline', 'strike'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        [{'color': []}, {'background': []}],
                        [{'font': []}],
                        [{'align': []}],
                        ['clean']
                    ]
                }
            },
            isSendingData: false,
            model: {
                id: null,
                code: null,
                name: null,
                description: null,
                parent_id: null,
                training_package_id: null,
                trainingPackage: {
                    id: null,
                    name: null
                }
            },
            trainingPackages: [],
            parentCategories: [],
            queryStringModuleTrainingReferenceTrainingPackage: `query FETCHDATA {ModuleTrainingReferenceTrainingPackage (limit:1000) {data {id, name}}}`,
            queryStringModuleTrainingReferenceLearningMaterialCategory: `query FETCHDATA {ModuleTrainingReferenceLearningMaterialCategory (limit:1000) {data {id, name}}}`
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModel()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        getModel () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: `query FETCHDATA {ModuleTrainingReferenceLearningMaterialCategory (id:"` + vm.categoryId + `") {data {id, code, name, description, parent_id, training_package_id, trainingPackage{id,name}}}}`
                }
            })
            .then(function (response) {
                vm.model = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.data[0];
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Negara Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        submitData () {
            const vm = this;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: `mutation {ModuleTrainingReferenceLearningMaterialCategoryUpdateDescription (
                        id:"` + vm.model.id + `",
                        description:"` + vm.model.description + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'module-training-reference-learningMaterial-category-index'});
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style>
</style>
