<template>
    <layout>
        <div class="columns">
            <div class="column">
                <h2 class="title">Daftar Referensi Kategori Materi Pelatihan</h2>
                <b-field grouped group-multiline>
                    <b-select v-model="perPage" @input="onLimitChange()">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </b-select>
                    <b-input placeholder="No label" v-model="searchValue" icon="search" @input="onSearch()" expanded></b-input>
                    <router-link class="button is-success is-pulled-right" :to="{ name: 'module-training-reference-learningMaterial-category-create'}" exact>
                        <b-icon icon="plus"></b-icon>
                    </router-link>
                </b-field>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-table
                    :data="models.data"
                    :bordered="models.isBordered"
                    :striped="models.isStriped"
                    :narrowed="models.isNarrowed"
                    :loading="models.loading"
                    paginated
                    backend-pagination
                    :total="models.total"
                    :per-page="models.per_page"
                    @page-change="onPageChange"
                    backend-sorting
                    :default-sort-direction="defaultSortOrder"
                    :default-sort="[orderBy, sortOrder]"
                    @sort="onSort"
                    :mobile-cards="models.hasMobileCards">
                    <template slot-scope="props">
                        <b-table-column field="code" label="Kode" sortable>
                            {{ props.row.code }}
                        </b-table-column>
                        <b-table-column field="name" label="Nama" sortable>
                            {{ props.row.name }}
                        </b-table-column>
                        <b-table-column field="training_package_id" label="Paket Pelatihan">
                            {{ props.row.trainingPackage.name }}
                        </b-table-column>
                        <b-table-column field="description" label="Deskripsi">
                            <template v-if="props.row.description && props.row.description != 'null'">
                                <button class="button" @click="[isComponentModalDescriptionActive = true, model.description = props.row.description]">
                                    <b-icon icon="file" class="has-text-info"></b-icon>
                                </button>
                            </template>
                        </b-table-column>
                        <b-table-column label="Aksi">
                            <b-dropdown position="is-bottom-left">
                                <button class="button is-info" slot="trigger">
                                    <b-icon icon="leaf"></b-icon>
                                    <b-icon icon="menu-down"></b-icon>
                                </button>
                                <b-dropdown-item has-link>
                                    <router-link :to="{ name: 'module-training-reference-learningMaterial-category-edit', params: {categoryId:props.row.id}}" exact>
                                        <b-icon icon="pencil" class="has-text-orange"></b-icon> <span>Ubah</span>
                                    </router-link>
                                </b-dropdown-item>
                                <b-dropdown-item has-link>
                                    <router-link :to="{ name: 'module-training-reference-learningMaterial-category-edit-description', params: {categoryId:props.row.id}}" exact>
                                        <b-icon icon="pencil" class="has-text-orange"></b-icon> <span>Ubah Deskiprsi</span>
                                    </router-link>
                                </b-dropdown-item>
                                <b-dropdown-item @click="[isComponentModalDeleteActive = true, model.id = props.row.id]">
                                    <b-icon icon="delete" class="has-text-danger"></b-icon> <span>Hapus</span>
                                </b-dropdown-item>
                            </b-dropdown>
                        </b-table-column>
                        <b-modal :active.sync="isComponentModalDeleteActive" has-modal-card @close="closeModal">
                            <form  @submit.prevent="deleteData(model.id)">
                                <div class="modal-card">
                                    <header class="modal-card-head">
                                        <p class="modal-card-title has-text-centered">Apakah Anda Ingin Menghapus Data ?</p>
                                    </header>
                                    <footer class="modal-card-foot">
                                        <button class="button" type="button" @click="closeModal()">Tidak</button>
                                        <button class="button is-pulled-right is-success is-pulled-right" type="submit":class="{'is-loading':isSendingData}">Ya</button>
                                    </footer>
                                </div>
                            </form>
                        </b-modal>
                        <b-modal :active.sync="isComponentModalDescriptionActive" :width="640">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content" v-html="model.description"></div>
                                </div>
                            </div>
                        </b-modal>
                    </template>
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon icon="warning-octagon" size="is-large"></b-icon>
                                </p>
                                <p>Data Tidak Tersedia</p>
                            </div>
                        </section>
                    </template>
                </b-table>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../../../../config.js';
import layout from '../../../../../layout/default';
export default {
    name: 'moduleTrainingReferenceLearningMaterialCategoryIndex',
    components: {
        layout
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            isSendingData: false,
            isFetching: false,
            orderBy: 'name',
            sortOrder: 'asc',
            defaultSortOrder: 'asc',
            page: 1,
            perPage: 10,
            searchValue: null,
            isComponentModalDeleteActive: false,
            isComponentModalDescriptionActive: false,
            isEdit: false,
            models: {
                data: [],
                code: null,
                name: null,
                current_page: 1,
                per_page: 10,
                to: 1,
                total: 1,
                loading: true,
                isNarrowed: false,
                isBordered: false,
                isStriped: true,
                hasMobileCards: true
            },
            model: {
                id: null,
                code: null,
                name: null,
                description: null,
                parent_id: null,
                training_package_id: null
            },
            queryOperationName: 'FETCHDATA',
            queryName: 'ModuleTrainingReferenceLearningMaterialCategory',
            queryProperties: null,
            queryFieldsArray: ['to', 'total', 'per_page', 'current_page'],
            querySelectFieldsArray: [],
            querySelectFieldsString: 'id, code, name, description, training_package_id, trainingPackage {id, name}',
            querySelectFields: null,
            queryFields: null,
            queryString: null,
            axiosProperties: {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    operationName: 'FETCHDATA',
                    query: null,
                    variabels: null
                }
            }
        };
    },
    methods: {
        setAxiosProperties () {
            let firstQueryString = null;
            let lastQueryString = `},` + this.queryFieldsArray.join() + `}}`;
            if (!_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `", ` + this.orderBy + `: "` + this.searchValue.toUpperCase() + `"){data{`;
            } else if (_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            } else {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            }

            if (!_.isNil(this.querySelectFieldsString) && this.querySelectFieldsArray.length === 0) {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsString + lastQueryString;
            } else {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsArray.join() + lastQueryString;
            }
        },
        onPageChange (page) {
            const vm = this;
            vm.models.loading = true;
            vm.page = page;
            vm.getModelData();
        },
        onLimitChange () {
            const vm = this;
            vm.models.loading = true;
            vm.getModelData();
        },
        onSort (field, order) {
            const vm = this;
            vm.orderBy = field;
            vm.sortOrder = order;
            vm.getModelData();
        },
        onSearch () {
            const vm = this;
            vm.models.loading = true;
            vm.getModelData();
        },
        getModelData () {
            const vm = this;
            setTimeout(() => {
                vm.models.loading = true;
                vm.setAxiosProperties();
                axios(vm.axiosProperties)
                .then(function (response) {
                    // console.log(response);
                    vm.models.data = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.data;
                    vm.models.current_page = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.current_page;
                    vm.models.per_page = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.per_page;
                    vm.models.to = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.to;
                    vm.models.total = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.total;
                    vm.models.loading = false;
                    vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
                })
                .catch(function (error) {
                    vm.models.loading = false;
                    if (error) {
                        vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                    }
                });
            }, 1000);
        },
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        closeModal () {
            const vm = this;
            vm.model = {
                id: null,
                code: null,
                name: null,
                description: null
            };
            vm.isComponentModalDeleteActive = false;
            vm.isComponentModalDescriptionActive = false;
        },
        deleteData (id) {
            const vm = this;
            vm.isFetching = true;
            vm.isSendingData = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/module_training_reference/query',
                responseType: 'json',
                data: {
                    query: `mutation {ModuleTrainingReferenceLearningMaterialCategoryDelete(
                        id:"` + id + `"
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.isSendingData = false;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.closeModal();
                vm.getData();
            })
            .catch(function (error) {
                vm.isFetching = false;
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style>
</style>
