<template>
    <layout>
        <div class="columns">
            <div class="column">
                <h2 class="title">Daftar Pengguna</h2>
                <b-field grouped group-multiline>
                    <b-select v-model="perPage" @input="onLimitChange()">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </b-select>
                    <b-input placeholder="No label" v-model="searchValue" icon="search" @input="onSearch()" expanded></b-input>
                </b-field>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <b-table
                    :data="model.data"
                    :loading="model.loading"
                    paginated
                    backend-pagination
                    :total="model.total"
                    :per-page="model.per_page"
                    @page-change="onPageChange"
                    backend-sorting
                    :default-sort-direction="defaultSortOrder"
                    :default-sort="[orderBy, sortOrder]"
                    @sort="onSort">
                    <template slot-scope="props">
                        <b-table-column field="name" label="Nama" sortable>
                            {{ props.row.name }}
                        </b-table-column>
                        <b-table-column field="email" label="Email" sortable>
                            {{ props.row.email }}
                        </b-table-column>
                        <b-table-column field="active" label="Aktif">
                            <template v-if="currentUser.id != props.row.id">
                                <template v-if="props.row.active">
                                    <a @click="toggleActivateUser(props.row.id)">
                                        <b-icon icon="check has-text-success"></b-icon>
                                    </a>
                                </template>
                                <template v-else>
                                    <a @click="toggleActivateUser(props.row.id)">
                                        <b-icon icon="close has-text-danger"></b-icon>
                                    </a>
                                </template>
                            </template>
                            <template v-else>
                                <template v-if="props.row.active">
                                    <b-icon icon="check has-text-success"></b-icon>
                                </template>
                                <template v-else>
                                    <b-icon icon="close has-text-danger"></b-icon>
                                </template>
                            </template>

                        </b-table-column>
                        <b-table-column field="is_admin" label="Pengelola">
                            <template v-if="currentUser.id != props.row.id">
                                <template v-if="props.row.is_admin">
                                    <a @click="toggleAdministrator(props.row.id)">
                                        <b-icon icon="check has-text-success"></b-icon>
                                    </a>
                                </template>
                                <template v-else>
                                    <a @click="toggleAdministrator(props.row.id)">
                                        <b-icon icon="close has-text-danger"></b-icon>
                                    </a>
                                </template>
                            </template>
                            <template v-else>
                                <template v-if="props.row.active">
                                    <b-icon icon="check has-text-success"></b-icon>
                                </template>
                                <template v-else>
                                    <b-icon icon="close has-text-danger"></b-icon>
                                </template>
                            </template>
                        </b-table-column>
                    </template>
                    <template slot="empty">
                        <div class="content has-text-grey has-text-centered">
                            <p>
                                <b-icon icon="sentiment_very_dissatisfied" size="is-large"></b-icon>
                            </p>
                            <p>Maaf Tidak Ada Data</p>
                        </div>
                    </template>
                </b-table>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import _ from 'lodash';
import axios from 'axios';
import {apiDomain} from '../../../config.js';
import layout from '../../layout/default';
export default {
    name: 'locationProvinceIndex',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
        this.getData();
    },
    data () {
        return {
            currentUser: this.$store.getters.authUser,
            orderBy: 'name',
            sortOrder: 'asc',
            defaultSortOrder: 'asc',
            page: 1,
            perPage: 10,
            searchValue: null,
            model: {
                data: [],
                current_page: 1,
                per_page: 10,
                to: 1,
                total: 1,
                loading: false
            },
            queryOperationName: 'FetchUser',
            queryName: 'AuthUser',
            queryProperties: null,
            queryFieldsArray: ['to', 'total', 'per_page', 'current_page'],
            querySelectFieldsArray: ['id', 'name', 'email', 'active', 'is_admin'],
            querySelectFieldsString: null,
            querySelectFields: null,
            queryFields: null,
            queryString: null,
            axiosProperties: {
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/auth/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchUser',
                    query: null,
                    variabels: null
                }
            }
        };
    },
    methods: {
        setAxiosProperties () {
            let firstQueryString = null;
            let lastQueryString = `},` + this.queryFieldsArray.join() + `}}`;

            if (!_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `", ` + this.orderBy + `: "` + this.searchValue.toUpperCase() + `"){data{`;
            } else if (_.isNil(this.searchValue)) {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(page: ` + this.page + `, limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            } else {
                firstQueryString = `query ` + this.queryOperationName + `{` + this.queryName + `(limit: ` + this.perPage +
                `, orderBy: "` + this.orderBy + `", sortOrder: "` + this.sortOrder + `"){data{`;
            }

            if (!_.isNil(this.querySelectFieldsString) && this.querySelectFieldsArray.length === 0) {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsString + lastQueryString;
            } else {
                this.axiosProperties.data.query = firstQueryString + this.querySelectFieldsArray.join() + lastQueryString;
            }
        },
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        onPageChange (page) {
            const vm = this;
            vm.model.loading = true;
            vm.page = page;
            vm.getModelData();
        },
        onLimitChange () {
            const vm = this;
            vm.models.loading = true;
            vm.getModelData();
        },
        onSort (field, order) {
            const vm = this;
            vm.orderBy = field;
            vm.sortOrder = order;
            vm.getModelData();
        },
        onSearch () {
            const vm = this;
            vm.models.loading = true;
            vm.getModelData();
        },
        getModelData () {
            const vm = this;
            setTimeout(() => {
                vm.model.loading = true;
                vm.setAxiosProperties();
                axios(vm.axiosProperties)
                .then(function (response) {
                    vm.model.data = response.data.data.AuthUser.data;
                    vm.model.current_page = response.data.data.AuthUser.current_page;
                    vm.model.per_page = response.data.data.AuthUser.per_page;
                    vm.model.to = response.data.data.AuthUser.to;
                    vm.model.total = response.data.data.AuthUser.total;
                    vm.model.loading = false;
                })
                .catch(function (error) {
                    if (error) {
                        vm.model.loading = false;
                        vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                    }
                });
            }, 2000);
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        onShow (provinceId) {
            this.$router.push({name: 'location-province-show', params: {provinceId}});
        },
        toggleActivateUser (userId) {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': vm.$store.getters.tokenType + ' ' + vm.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/auth/query',
                responseType: 'json',
                data: {
                    query: `mutation {AuthUserToggleUserActive(id:"` + userId + `"){name}}`
                }
            })
            .then(function (response) {
                vm.getData();
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Gagal Diambil Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        toggleAdministrator (userId) {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': vm.$store.getters.tokenType + ' ' + vm.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/auth/query',
                responseType: 'json',
                data: {
                    query: `mutation {AuthUserToggleUserAdmin(id:"` + userId + `"){name}}`
                }
            })
            .then(function (response) {
                vm.getData();
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Gagal Diambil Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
