<template>
    <layout>
        <div class="columns">
            <div class="column">
            </div>
        </div>
    </layout>
</template>

<script>
import layout from '../layout/registration.vue';
export default {
    name: 'ErrorPage',
    components: {
        layout
    }
};
</script>
<style lang="scss" scoped>
</style>
