<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-field>
                    <b-input maxlength="255" placeholder="isikan email anda"></b-input>
                </b-field>
                <div class="field">
                    <div class="control">
                        <button class="button is-danger is-fullwidth is-radiusless">
                            <b-icon icon="lock-reset"></b-icon>&nbsp;&nbsp;Lupa Sandi
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <router-link :to="{ name: 'landing-page'}" class="button is-warning is-fullwidth is-radiusless" exact>
                            <b-icon icon="home"></b-icon>&nbsp;&nbsp;Beranda
                        </router-link>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <router-link :to="{ name: 'login'}" class="button is-success is-fullwidth is-radiusless" exact>
                            <b-icon icon="login"></b-icon>&nbsp;&nbsp;Login
                        </router-link>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <router-link :to="{ name: 'register'}" class="button is-info is-fullwidth is-radiusless" exact>
                            <b-icon icon="account-plus"></b-icon>&nbsp;&nbsp;Registrasi
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import layout from '../layout/login.vue';
export default {
    name: 'ForgotPasswordPage',
    components: {
        layout
    },
    mounted () {
    }
};
</script>
<style lang="scss" scoped>
</style>
