<template>
    <layout>
        <div class="field">
            <label class="label">Name</label>
            <div class="control">
                <input class="input" type="text" placeholder="Text input">
            </div>
        </div>

        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input is-success" type="text" placeholder="Text input" value="bulma">
                <span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
                <span class="icon is-small is-right">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <p class="help is-success">This username is available</p>
        </div>
    </layout>
</template>

<script>
'use strict';
import layout from '../layout/default.vue';
export default {
    name: 'landingPage',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
    }
};
</script>
<style lang="scss" scoped>
</style>
