<template>
    <layout>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum convallis condimentum est a convallis. Aliquam sed hendrerit nunc. Aenean commodo turpis id augue scelerisque bibendum. Aliquam et sapien sit amet nisl pulvinar mollis in ac magna. Duis quis congue orci. Etiam rhoncus, felis sed tempus ullamcorper, mi lectus porttitor purus, at maximus sapien ligula vitae elit. Duis venenatis et magna ac fermentum. Vivamus non mi consequat ipsum pretium cursus at a sem. Suspendisse sapien ante, lacinia vitae feugiat in, blandit sit amet sapien. Curabitur ut dolor mi.
        </p>
        <form>
            <div class="field">
                <div class="control">
                    <input class="input" type="text" placeholder="Text input">
                </div>
            </div>

            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Text input" value="bulma">
                    <span class="icon is-small is-left">
                        <i class="fa fa-user"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fa fa-check"></i>
                    </span>
                </div>
                <p class="help is-success">This username is available</p>
            </div>

            <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-danger" type="text" placeholder="Email input" value="hello@">
                    <span class="icon is-small is-left">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <span class="icon is-small is-right">
                        <i class="fa fa-warning"></i>
                    </span>
                </div>
                <p class="help is-danger">This email is invalid</p>
            </div>

            <div class="field">
                <div class="control">
                    <div class="select">
                        <select>
                            <option>Select dropdown</option>
                            <option>With options</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Message</label>
                <div class="control">
                    <textarea class="textarea" placeholder="Textarea"></textarea>
                </div>
            </div>

            <div class="field">
                <b-checkbox>Basic</b-checkbox>
            </div>

            <div class="block">
                <b-radio v-model="radio"
                    native-value="Flint">
                    Flint
                </b-radio>
                <b-radio v-model="radio"
                    native-value="Silver">
                    Silver
                </b-radio>
                <b-radio v-model="radio"
                    native-value="Jack">
                    Jack
                </b-radio>
                <b-radio v-model="radio"
                    native-value="Vane"
                    disabled>
                    Vane
                </b-radio>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary">Submit</button>
                </div>
                <div class="control">
                    <button class="button is-link">Cancel</button>
                </div>
            </div>
        </form>
    </layout>
</template>

<script>
'use strict';
import layout from '../layout/default.vue';
export default {
    name: 'landingPage',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
    },
    data () {
        return {
            radio: null
        };
    }
};
</script>
<style lang="scss" scoped>
</style>
