<template>
<layout>
    <div class="container-grid">
        <template v-for="trainingPackage in trainingPackages">
            <div class="card">
                <header class="card-header">
                    <p class="card-header-title center-flex">{{trainingPackage.name}}</p>
                </header>
                <template v-if="trainingPackage.code == 1">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/static/img/front_card/cardFunctional.jpg" alt="Functional image">
                        </figure>
                    </div>
                </template>
                <template v-if="trainingPackage.code == 2">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/static/img/front_card/cardTechnical.jpg" alt="Functional image">
                        </figure>
                    </div>
                </template>
                <template v-if="trainingPackage.code == 3">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="/static/img/front_card/cardInforming.jpg" alt="Functional image">
                        </figure>
                    </div>
                </template>
                <div class="card-content">
                    <div class="content">
                        <ul class="fontawesome-list">
                            <template v-for="category in trainingPackage.categories">
                                <li>
                                    <router-link :to="{ name: 'training', params: {categoryId:category.id}}">
                                        {{category.name}}
                                    </router-link>
                                </li>
                            </template>
                        </ul>
                    </div>
                </div>
            </div>
        </template>
    </div>
</layout>
</template>

<script>
'use strict';
import axios from 'axios';
import {apiDomain} from '../../config.js';
import layout from '../layout/frontpage.vue';
export default {
    name: 'landingPage',
    components: {
        layout
    },
    data () {
        return {
            trainingPackages: [],
            queryStringTrainingPackage: `query FetchData {ModuleTrainingReferenceTrainingPackage (limit:100) {data {id,code,name,categories {id,code,name}}}}`
        };
    },
    mounted () {
        this.getData();
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            axios.all([
                vm.getTrainingPackages()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.isSendingData = false;
                // vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            }));
        },
        getTrainingPackages () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringTrainingPackage
                }
            })
            .then(function (response) {
                vm.trainingPackages = response.data.data.ModuleTrainingReferenceTrainingPackage.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Paket Pelatihan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
.fontawesome-list {
    list-style-type: none;
    li:before {
        font-family: 'FontAwesome';
        content: '\f06c';
        color: green;
        margin:0 0 0 -17px;
    }
}
.center-flex {
    justify-content: center;
    align-items: center;
}
.container-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 1em;
}
.card-grid-wrapper {
    display: grid !important;
    grid-auto-flow: row;
}
</style>
