<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-field :type="errors.has('email') ? 'is-danger': 'is-info'" :message="errors.has('email') ? 'E-Mail Wajib Diisi' : ''">
                    <b-input
                        v-model="model.email"
                        type="email"
                        maxlength="255"
                        placeholder="isikan email anda"
                        name="email"
                        v-validate="'required|email'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <b-field :type="errors.has('password') ? 'is-danger': 'is-info'" :message="errors.has('password') ? 'Password Wajib Diisi' : ''">
                    <b-input
                        v-model="model.password"
                        type="password"
                        maxlength="255"
                        placeholder="isikan kata sandi anda"
                        password-reveal
                        name="password"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <div class="field">
                    <div class="control">
                        <button class="button is-success is-fullwidth is-radiusless" @click="validateBeforeSubmit">
                            <b-icon icon="login"></b-icon>&nbsp;&nbsp;Masuk
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <router-link :to="{ name: 'landing-page'}" class="button is-warning is-fullwidth is-radiusless" exact>
                            <b-icon icon="home"></b-icon>&nbsp;&nbsp;Beranda
                        </router-link>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <router-link :to="{ name: 'forgot-password'}" class="button is-danger is-fullwidth is-radiusless" exact>
                            <b-icon icon="lock-reset"></b-icon>&nbsp;&nbsp;Lupa Sandi
                        </router-link>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <router-link :to="{ name: 'register'}" class="button is-info is-fullwidth is-radiusless" exact>
                            <b-icon icon="account-plus"></b-icon>&nbsp;&nbsp;Registrasi
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import axios from 'axios';
import {apiDomain, clientId, clientSecret} from '../../config.js';
import layout from '../layout/login.vue';
export default {
    name: 'LoginPage',
    components: {
        layout
    },
    data () {
        return {
            isSendingData: false,
            model: {
                email: null,
                password: null
            },
            authClientId: null,
            authClientSecret: null
        };
    },
    mounted () {
        this.$store.dispatch('setClientId', clientId);
        this.$store.dispatch('setClientSecret', clientSecret);
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        submitData () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/oauth/token',
                responseType: 'json',
                data: {
                    client_id: vm.$store.getters.clientId,
                    client_secret: vm.$store.getters.clientSecret,
                    grant_type: 'password',
                    scope: '*',
                    username: vm.model.email,
                    password: vm.model.password
                }
            })
            .then(function (response) {
                vm.$store.dispatch('setExpiresIn', response.data.expires_in);
                vm.$store.dispatch('setTokenType', response.data.token_type);
                vm.$store.dispatch('setAccessToken', response.data.access_token);
                vm.$store.dispatch('setRefreshToken', response.data.refresh_token);
                vm.$store.dispatch('setAuthenticate');
                vm.model = {
                    email: null,
                    password: null
                };
                axios({
                    headers: {
                        'Content-Type': 'application/json',
                        'Authorization': vm.$store.getters.tokenType + ' ' + vm.$store.getters.accessToken
                    },
                    method: 'get',
                    url: apiDomain + '/api/user',
                    responseType: 'json'
                }).then(function (userResponse) {
                    vm.$store.dispatch('setAuthUser', userResponse.data);
                    vm.callSnackbar('Selamat Datang', 'is-success', 'is-bottom-left', 'OK');
                    if (vm.$store.getters.authUser.is_admin) {
                        vm.$router.push({name: 'user-dashboard'});
                    } else {
                        vm.$router.push({name: 'user-profile'});
                    }
                }).catch(function (error) {
                    if (error) {
                        vm.callSnackbar('Gagal Mengambil Data User dari Server', 'is-danger', 'is-bottom-left', 'OK');
                    }
                });
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Gagal Login Ke Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
