<template>
    <layout>
        <div class="columns">
            <div class="column">
                <h2 class="title">Data Diri</h2>
                <b-field :type="errors.has('code') ? 'is-danger': 'is-info'" :message="errors.has('code') ? 'Kode Wajib Diisi' : ''">
                    <b-input
                        maxlength="16"
                        placeholder="Isikan Nomor Induk Kependudukan Anda"
                        name="code"
                        v-model="model.individual.code"
                        v-validate="'required|numeric|length:16'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? 'Nama Wajib Diisi' : ''">
                    <b-input
                        maxlength="255"
                        placeholder="Isikan Nama Anda"
                        name="name"
                        v-model="model.individual.name"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <b-field :type="errors.has('birthDate') ? 'is-danger': 'is-info'" :message="errors.has('birthDate') ? 'Tanggal Lahir Wajib Diisi' : ''">
                    <b-datepicker
                        placeholder="Isikan Tanggal Lahir Anda Format Bulan-Tanggal-Tahun"
                        name="birthDate"
                        v-model="birthDate"
                        v-validate="'required|date_format:DD/MM/YYYY'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-datepicker>
                </b-field>
                <br>
                <b-field :type="errors.has('birth_place') ? 'is-danger': 'is-info'" :message="errors.has('birth_place') ? 'Tempat Lahir Wajib Diisi' : ''">
                    <b-input
                        maxlength="255"
                        placeholder="Isikan Tempat Lahir Anda"
                        name="birth_place"
                        v-model="model.individual.birth_place"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <b-field :type="errors.has('gender_id') ? 'is-danger': 'is-info'" :message="errors.has('gender_id') ? 'Jenis Kelamin Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Jenis Kelamin Anda"
                        name="gender_id"
                        v-model="model.individual.gender_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        expanded
                    >
                        <option v-for="gender in genders" :value="gender.id" :key="gender.id">
                            {{ gender.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('religion_id') ? 'is-danger': 'is-info'" :message="errors.has('religion_id') ? 'Agama Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Agama Anda"
                        name="religion_id"
                        v-model="model.individual.religion_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        expanded
                    >
                        <option v-for="religion in religions" :value="religion.id" :key="religion.id">
                            {{ religion.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('occupation_id') ? 'is-danger': 'is-info'" :message="errors.has('occupation_id') ? 'Pekerjaan Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Pekerjaan Anda"
                        name="occupation_id"
                        v-model="model.individual.occupation_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        expanded
                    >
                        <option v-for="occupation in occupations" :value="occupation.id" :key="occupation.id">
                            {{ occupation.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('profession_id') ? 'is-danger': 'is-info'" :message="errors.has('profession_id') ? 'Profesi Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Profesi Anda"
                        name="profession_id"
                        v-model="model.individual.profession_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        expanded
                    >
                        <option v-for="profession in professions" :value="profession.id" :key="profession.id">
                            {{ profession.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('education_id') ? 'is-danger': 'is-info'" :message="errors.has('education_id') ? 'Pendidikan Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Pendidikan Terakhir Anda"
                        name="education_id"
                        v-model="model.individual.education_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        expanded
                    >
                        <option v-for="education in educations" :value="education.id" :key="education.id">
                            {{ education.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('marital_status_id') ? 'is-danger': 'is-info'" :message="errors.has('marital_status_id') ? 'Status Perkawinan Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Status Perkawinan Anda"
                        name="marital_status_id"
                        v-model="model.individual.marital_status_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        expanded
                    >
                        <option v-for="maritalStatus in maritalStatuses" :value="maritalStatus.id" :key="maritalStatus.id">
                            {{ maritalStatus.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="title">Domisili</h2>
                <b-field :type="errors.has('phone_number') ? 'is-danger': 'is-info'" :message="errors.has('phone_number') ? 'Nomor Telepon Wajib Diisi' : ''">
                    <b-input
                        minlength="11"
                        maxlength="16"
                        placeholder="Isikan Telepon Anda"
                        name="phone_number"
                        v-model="model.residence.phone_number"
                        v-validate="'required|numeric|min:11|max:16'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <b-field :type="errors.has('address') ? 'is-danger': 'is-info'" :message="errors.has('address') ? 'Alamat Anda Wajib Diisi' : ''">
                    <b-input
                        maxlength="255"
                        placeholder="Isikan Alamat Anda"
                        name="address"
                        v-model="model.residence.address"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <b-field :type="errors.has('neighborhood_association') ? 'is-danger': 'is-info'" :message="errors.has('neighborhood_association') ? 'Rukun Tetangga Anda Wajib Diisi' : ''">
                    <b-input
                        type="number"
                        placeholder="Isikan Rukun Tetangga Anda"
                        name="neighborhood_association"
                        v-model="model.residence.neighborhood_association"
                        v-validate="'required|numeric|min:0'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <br>
                <b-field :type="errors.has('citizens_association') ? 'is-danger': 'is-info'" :message="errors.has('citizens_association') ? 'Rukun Warga Anda Wajib Diisi' : ''">
                    <b-input
                        type="number"
                        placeholder="Isikan Rukun Warga Anda"
                        name="citizens_association"
                        v-model="model.residence.citizens_association"
                        v-validate="'required|numeric|min:0'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <br>
                <b-field :type="errors.has('province_id') ? 'is-danger': 'is-info'" :message="errors.has('province_id') ? 'Propinsi Domisili Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Propinsi Domisili Anda"
                        name="province_id"
                        v-model="model.residence.province_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        @input="getRegencies"
                        expanded
                    >
                        <option v-for="province in provinces" :value="province.id" :key="province.id">
                            {{ province.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('regency_id') ? 'is-danger': 'is-info'" :message="errors.has('regency_id') ? 'Kabupaten Domisili Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Kabupaten Domisili Anda"
                        name="regency_id"
                        v-model="model.residence.regency_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        @input="getSubDistricts"
                        expanded
                    >
                        <option v-for="regency in regencies" :value="regency.id" :key="regency.id">
                            {{ regency.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('sub_district_id') ? 'is-danger': 'is-info'" :message="errors.has('sub_district_id') ? 'Kecamatan Domisili Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Kecamatan Domisili Anda"
                        name="sub_district_id"
                        v-model="model.residence.sub_district_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        @input="getVillages"
                        expanded
                    >
                        <option v-for="subDistrict in subDistricts" :value="subDistrict.id" :key="subDistrict.id">
                            {{ subDistrict.name }}
                        </option>
                    </b-select>
                </b-field>
                <br>
                <b-field :type="errors.has('village_id') ? 'is-danger': 'is-info'" :message="errors.has('village_id') ? 'Desa Domisili Anda Wajib Diisi' : ''">
                    <b-select
                        placeholder="Isikan Desa Domisili Anda"
                        name="village_id"
                        v-model="model.residence.village_id"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                        expanded
                    >
                        <option v-for="village in villages" :value="village.id" :key="village.id">
                            {{ village.name }}
                        </option>
                    </b-select>
                </b-field>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="title">Akun</h2>
                <b-field :type="errors.has('user_email') ? 'is-danger': 'is-info'" :message="errors.has('user_email') ? 'Email Anda Wajib Diisi' : ''">
                    <b-input
                        name="user_email"
                        type="email"
                        maxlength="255"
                        placeholder="Isikan Alamat Email Anda"
                        v-model="model.user.email"
                        v-validate="'required|email'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <b-field :type="errors.has('user_password') ? 'is-danger': 'is-info'" :message="errors.has('user_password') ? 'Email Anda Wajib Diisi' : ''">
                    <b-input
                        name="user_password"
                        type="password"
                        maxlength="255"
                        placeholder="Isikan Kata Sandi Anda"
                        password-reveal
                        v-model="model.user.password"
                        v-validate="'required'"
                        :loading="isSendingData"
                        :disabled="isSendingData"
                    >
                    </b-input>
                </b-field>
                <br>
                <div class="is-pulled-right">
                    <vue-recaptcha ref="recaptcha" :sitekey="keyRecapcha" @verify="onVerifyRecaptcha"></vue-recaptcha>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div class="columns is-flex">
            <div class="column">
                <div class="field is-grouped is-pulled-right">
                    <div class="control">
                        <button class="button is-pulled-right is-danger">Batal</button>
                    </div>
                    <div class="control">
                        <button class="button is-pulled-right is-success" @click="validateBeforeSubmit">Registrasi</button>
                    </div>
                    <div class="control">
                        <button class="button is-pulled-right is-info" @click="resetRecaptcha">Reset ReCAPTCHA</button>
                    </div>
                </div>
            </div>
        </div>
    </layout>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';
import moment from 'moment';
import {apiDomain, recapchaKey} from '../../config.js';
import indonesiaValidator from 'vee-validate/dist/locale/id';
import layout from '../layout/registration.vue';
import VueRecaptcha from 'vue-recaptcha';
export default {
    name: 'registerPage',
    components: {
        layout,
        VueRecaptcha
    },
    data () {
        return {
            birthDate: null,
            isSendingData: false,
            genders: [],
            religions: [],
            occupations: [],
            educations: [],
            maritalStatuses: [],
            professions: [],
            provinces: [],
            regencies: [],
            subDistricts: [],
            villages: [],
            model: {
                individual: {
                    code: null,
                    name: null,
                    birth_date: null,
                    birth_place: null,
                    gender_id: null,
                    religion_id: null,
                    occupation_id: null,
                    profession_id: null,
                    education_id: null,
                    identification_type_id: '3d59fc95-b07d-46ad-95ff-206b7e7f253f',
                    marital_status_id: null,
                    deceased: false
                },
                residence: {
                    address: null,
                    phone_number: null,
                    citizens_association: null,
                    neighborhood_association: null,
                    country_id: 'cc9ec5bc-7ab9-4326-a0cd-7760b5dae1f4',
                    province_id: null,
                    regency_id: null,
                    sub_district_id: null,
                    village_id: null
                },
                user: {
                    email: null,
                    password: null
                }
            },
            gRecaptchaResponse: null,
            keyRecapcha: recapchaKey,
            queryStringProvince: `query FetchData {LocationProvince (country_id:"cc9ec5bc-7ab9-4326-a0cd-7760b5dae1f4", limit:100) {data {id,name}}}`,
            queryStringGender: `query FetchData {PersonReferenceBiodataGender (limit:100) {data {id,name}}}`,
            queryStringMaritalStatus: `query FetchData {PersonReferenceBiodataMaritalStatus (limit:100) {data {id,name}}}`,
            queryStringReligion: `query FetchData {PersonReferenceBiodataReligion (limit:100) {data {id,name}}}`,
            queryStringOccupation: `query FetchData {PersonReferenceCareerOccupation (limit:100) {data {id,name}}}`,
            queryStringProfession: `query FetchData {PersonReferenceCareerProfession (limit:100) {data {id,name}}}`,
            queryStringEducation: `query FetchData {CommonReferenceEducationEducation (limit:100) {data {id,name}}}`
        };
    },
    created () {
        // moment.locale('id');
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
        this.keyRecapcha = recapchaKey;
    },
    mounted () {
        this.getData();
    },
    watch: {
        birthDate: function (val) {
            this.model.individual.birth_date = moment(val).format('DD-MM-YYYY');
        }
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            vm.isSendingData = true;
            axios.all([
                vm.getProvinces(),
                vm.getGenders(),
                vm.getReligions(),
                vm.getMaritalStatuses(),
                vm.getOccupations(),
                vm.getProfessions(),
                vm.getEducations()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.isSendingData = false;
                // vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            }));
        },
        getEducations () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringEducation
                }
            })
            .then(function (response) {
                vm.educations = response.data.data.CommonReferenceEducationEducation.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Pendidikan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getProfessions () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringProfession
                }
            })
            .then(function (response) {
                vm.professions = response.data.data.PersonReferenceCareerProfession.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Pekerjaan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getOccupations () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringOccupation
                }
            })
            .then(function (response) {
                vm.occupations = response.data.data.PersonReferenceCareerOccupation.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Pekerjaan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getMaritalStatuses () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringMaritalStatus
                }
            })
            .then(function (response) {
                vm.maritalStatuses = response.data.data.PersonReferenceBiodataMaritalStatus.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Jenis Kelamin Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getReligions () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringReligion
                }
            })
            .then(function (response) {
                vm.religions = response.data.data.PersonReferenceBiodataReligion.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Jenis Kelamin Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getGenders () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringGender
                }
            })
            .then(function (response) {
                vm.genders = response.data.data.PersonReferenceBiodataGender.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Jenis Kelamin Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getProvinces () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryStringProvince
                }
            })
            .then(function (response) {
                vm.provinces = response.data.data.LocationProvince.data;
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Propinsi Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getRegencies () {
            const vm = this;
            vm.isSendingData = true;
            vm.model.residence.regency_id = null;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: `query FetchData {LocationRegency (province_id:"` + vm.model.residence.province_id + `", limit:1000) {data {id,name}}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.regencies = response.data.data.LocationRegency.data;
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Kabupaten Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getSubDistricts () {
            const vm = this;
            vm.isSendingData = true;
            vm.model.residence.sub_district_id = null;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: `query FetchData {LocationSubDistrict (regency_id:"` + vm.model.residence.regency_id + `", limit:1000) {data {id,name}}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.subDistricts = response.data.data.LocationSubDistrict.data;
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Kecamatan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getVillages () {
            const vm = this;
            vm.isSendingData = true;
            vm.model.residence.village_id = null;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: `query FetchData {LocationVillage (sub_district_id:"` + vm.model.residence.sub_district_id + `", limit:1000) {data {id,name}}}`
                }
            })
            .then(function (response) {
                vm.isSendingData = false;
                vm.villages = response.data.data.LocationVillage.data;
            })
            .catch(function (error) {
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Desa Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        submitData () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/person/register',
                responseType: 'json',
                data: {
                    code: vm.model.individual.code,
                    name: vm.model.individual.name,
                    birth_date: vm.model.individual.birth_date,
                    birth_place: vm.model.individual.birth_place,
                    gender_id: vm.model.individual.gender_id,
                    religion_id: vm.model.individual.religion_id,
                    occupation_id: vm.model.individual.occupation_id,
                    profession_id: vm.model.individual.profession_id,
                    education_id: vm.model.individual.education_id,
                    marital_status_id: vm.model.individual.marital_status_id,
                    deceased: vm.model.individual.deceased,
                    address: vm.model.residence.address,
                    phone_number: vm.model.residence.phone_number,
                    citizens_association: vm.model.residence.citizens_association,
                    neighborhood_association: vm.model.residence.neighborhood_association,
                    country_id: vm.model.residence.country_id,
                    province_id: vm.model.residence.province_id,
                    regency_id: vm.model.residence.regency_id,
                    sub_district_id: vm.model.residence.sub_district_id,
                    village_id: vm.model.residence.village_id,
                    email: vm.model.user.email,
                    password: vm.model.user.password,
                    g_recaptcha_response: vm.gRecaptchaResponse
                }
            })
            .then(function (response) {
                vm.model = {
                    individual: {
                        code: null,
                        name: null,
                        birth_date: null,
                        birth_place: null,
                        gender_id: null,
                        religion_id: null,
                        occupation_id: null,
                        profession_id: null,
                        education_id: null,
                        identification_type_id: '3d59fc95-b07d-46ad-95ff-206b7e7f253f',
                        marital_status_id: null,
                        deceased: false
                    },
                    residence: {
                        address: null,
                        phone_number: null,
                        citizens_association: null,
                        neighborhood_association: null,
                        country_id: 'cc9ec5bc-7ab9-4326-a0cd-7760b5dae1f4',
                        province_id: null,
                        regency_id: null,
                        sub_district_id: null,
                        village_id: null
                    },
                    user: {
                        email: null,
                        password: null
                    }
                };
                vm.resetRecaptcha();
                vm.callSnackbar('Data Berhasil disimpan Server', 'is-success', 'is-bottom-left', 'OK');
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Gagal disimpan Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        resetRecaptcha () {
            const vm = this;
            vm.gRecaptchaResponse = null;
            vm.$refs.recaptcha.reset(); // Direct call reset method
        },
        onVerifyRecaptcha (response) {
            const vm = this;
            vm.gRecaptchaResponse = response;
            if (_.isEmpty(vm.gRecaptchaResponse)) {
                this.callSnackbar('Perbaiki Capcha Anda', 'is-danger', 'is-bottom-left', 'OK');
            }
        },
        validateBeforeSubmit () {
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
