<template>
<layout>
    <div class="columns">
        <div class="column">
            <h1 class="title">{{model.trainingPackage.name}}</h1>
            <div class="content" v-html="model.trainingPackage.description">
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <h2 class="subtitle">{{model.name}}</h2>
            <div class="content" v-html="model.description">
            </div>
        </div>
    </div>
    <template v-if="model.courses.length">
        <h5 class="subtitle">Materi Pembahasan</h5>
        <div class="columns">
            <div class="column">
                <b-table :data="model.courses">
                    <template slot-scope="props">
                        <b-table-column field="code" label="Kode" sortable>
                            {{ props.row.code }}
                        </b-table-column>
                        <b-table-column field="name" label="Nama" sortable>
                            {{ props.row.name }}
                        </b-table-column>
                    </template>
                    <template slot="empty">
                        <section class="section">
                            <div class="content has-text-grey has-text-centered">
                                <p>
                                    <b-icon icon="warning-octagon" size="is-large"></b-icon>
                                </p>
                                <p>Data Tidak Tersedia</p>
                            </div>
                        </section>
                    </template>
                </b-table>
            </div>
        </div>
    </template>
</layout>
</template>
<script>
import axios from 'axios';
import {apiDomain} from '../../config.js';
import layout from '../layout/registration.vue';
export default {
    name: 'trainingPage',
    props: {
        categoryId: {
            type: String,
            required: true
        }
    },
    components: {
        layout
    },
    data () {
        return {
            model: {
                id: null,
                code: null,
                name: null,
                description: null,
                training_package_id: null,
                trainingPackage: {
                    id: null,
                    code: null,
                    name: null,
                    description: null
                },
                courses: []
            },
            queryString: `query FetchData {ModuleTrainingReferenceLearningMaterialCategory (id:"` + this.categoryId + `", limit:100) {data {id,code,name,description,training_package_id,trainingPackage{id,code,name,description},courses{id,code,name}}}}`
        };
    },
    mounted () {
        this.getData();
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getData () {
            const vm = this;
            axios.all([
                vm.getModel()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.isSendingData = false;
                // vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            }));
        },
        getModel () {
            const vm = this;
            axios({
                headers: {
                    'Content-Type': 'application/json'
                },
                method: 'post',
                url: apiDomain + '/api/graphql/registration/query',
                responseType: 'json',
                data: {
                    query: vm.queryString
                }
            })
            .then(function (response) {
                vm.model = response.data.data.ModuleTrainingReferenceLearningMaterialCategory.data[0];
            })
            .catch(function (error) {
                if (error) {
                    vm.callSnackbar('Data Paket Pelatihan Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
