<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false" class="is-fullheight">
                    <strong slot="header">Tambah Data Kabupaten</strong>
                    <div class="content is-fullwidth">
                        <form @submit.prevent="validateBeforeSubmit">
                            <b-field>
                                <b-input
                                    name="code"
                                    v-model="model.code"
                                    type="text"
                                    placeholder="Isikan Kode"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('name') ? 'is-danger': 'is-info'" :message="errors.has('name') ? errors.first('name') : ''">
                                <b-input
                                    name="name"
                                    v-model="model.name"
                                    placeholder="Isikan Nama"
                                    v-validate="'required'"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('province_id') ? 'is-danger': 'is-info'" :message="errors.has('province_id') ? errors.first('province_id') : ''">
                               <b-select placeholder="Pilih Provinsi"
                               name="province_id"
                               v-model="model.province_id"
                               v-validate="'required'"
                               :loading="isSendingData"
                               :disabled="isSendingData"
                               expanded>
                                   <option
                                       v-for="province in dataProvince"
                                       :value="province.id"
                                       :key="province.id">
                                       {{ province.name }}
                                   </option>
                               </b-select>
                           </b-field>
                           <br>
                           <b-field :type="errors.has('regency_type_id') ? 'is-danger': 'is-info'" :message="errors.has('regency_type_id') ? errors.first('regency_type_id') : ''">
                              <b-select placeholder="Pilih Tipe Kabupaten"
                              name="regency_type_id"
                              v-model="model.regency_type_id"
                              v-validate="'required'"
                              :loading="isSendingData"
                              :disabled="isSendingData"
                              expanded>
                                  <option
                                      v-for="regencyType in dataRegencyType"
                                      :value="regencyType.id"
                                      :key="regencyType.id">
                                      {{ regencyType.name }}
                                  </option>
                              </b-select>
                          </b-field>
                          <br>
                            <b-field :type="errors.has('dikti_code') ? 'is-danger': 'is-info'" :message="errors.has('dikti_code') ? errors.first('dikti_code') : ''">
                                <b-input
                                    name="dikti_code"
                                    v-model="model.dikti_code"
                                    placeholder="Isikan Kode Dikti"
                                    v-validate="'required'"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('dikti_name') ? 'is-danger': 'is-info'" :message="errors.has('dikti_name') ? errors.first('dikti_name') : ''">
                                <b-input
                                    name="dikti_name"
                                    v-model="model.dikti_name"
                                    placeholder="Isikan Nama Dikti"
                                    v-validate="'required'"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.epsbed_code" placeholder="Isikan Kode Epsbed" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.state_ministry_code" placeholder="Isikan Kode Kementrian Dalam Negeri" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.state_ministry_full_code" placeholder="Isikan Kode Lengkap Kementrian Dalam Negeri" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.state_ministry_name" placeholder="Isikan Nama Kementrian Dalam Negeri" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.state_post_department_code" placeholder="Isikan Kode Pos" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.postal_code_start_range" placeholder="Isikan Awalan Kode Pos" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.postal_code_end_range" placeholder="Isikan Akhiran Kode Pos" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.validation_code" placeholder="Isikan Kode Validasi" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.agriculture_department_code" placeholder="Isikan Kode Kementrian Pertanian" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input v-model="model.agriculture_department_name" placeholder="Isikan Nama Kementrian Pertanian" :loading="isSendingData"
                                :disabled="isSendingData"></b-input>
                            </b-field>
                            <br>
                             <b-checkbox v-model="model.is_capital" :disabled="isSendingData">Ibu Kota Propinsi ?</b-checkbox>
                            <br>
                            <div class="field is-grouped is-pulled-right">
                                <div class="control">
                                    <router-link :to="{ name: 'location-regency-index'}" class="button is-pulled-right is-danger">
                                        Batal
                                    </router-link>
                                </div>
                                <div class="control">
                                    <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Tambahkan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </b-panel>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import axios from 'axios';
import layout from '../../layout/default';
import {apiDomain} from '../../../config.js';
import indonesiaValidator from 'vee-validate/dist/locale/id';
export default {
    name: 'locationRegencyCreate',
    components: {
        layout
    },
    created () {
        this.$validator.localize('id', {
            messages: indonesiaValidator.messages
        });
    },
    mounted () {
        this.getData();
    },
    data () {
        return {
            dataProvince: [],
            dataRegencyType: [],
            name: '',
            selected: null,
            isFetching: false,
            keepFirst: false,
            isSendingData: false,
            model: {
                id: null,
                code: null,
                name: null,
                dikti_code: null,
                dikti_name: null,
                epsbed_code: null,
                province_id: null,
                regency_type_id: null,
                state_ministry_code: null,
                state_ministry_full_code: null,
                state_post_department_code: null,
                postal_code_start_range: null,
                postal_code_end_range: null,
                agriculture_department_code: null,
                agriculture_department_name: null,
                state_ministry_name: null,
                validation_code: null,
                is_capital: null
            },
            queryStringProvince: `query FetchProvinces {LocationProvince (limit: 50) {data {id,name}}}`,
            queryStringRegencyType: `query FetchRegencyTypes {LocationRegencyType {data {id,name}}}`
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getProvinces () {
            const vm = this;
            vm.isFetching = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchProvinces',
                    query: vm.queryStringProvince,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.dataProvince = response.data.data.LocationProvince.data;
            })
            .catch(function (error) {
                vm.isFetching = false;
                if (error) {
                    vm.callSnackbar('Data Provinsi Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getRegencyTypes () {
            const vm = this;
            vm.isFetching = true;
            axios({
                headers: {
            'Content-Type': 'application/json',
            'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
        },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchRegencyTypes',
                    query: vm.queryStringRegencyType,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.dataRegencyType = response.data.data.LocationRegencyType.data;
            })
            .catch(function (error) {
                vm.isFetching = false;
                if (error) {
                    vm.callSnackbar('Data Tipe Kabupaten Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getData () {
            const vm = this;
            vm.isSendingData = true;
            axios.all([vm.getProvinces(), vm.getRegencyTypes()]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
                vm.isSendingData = false;
            }));
        },
        submitData () {
            const vm = this;
            vm.isFetching = true;
            vm.isSendingData = true;
            axios({
                headers: {
            'Content-Type': 'application/json',
            'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
        },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    query: `mutation {LocationRegencyStore (
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                        dikti_code:"` + vm.model.dikti_code + `",
                        dikti_name:"` + vm.model.dikti_name + `",
                        epsbed_code:"` + vm.model.epsbed_code + `",
                        province_id:"` + vm.model.province_id + `",
                        regency_type_id:"` + vm.model.regency_type_id + `",
                        state_ministry_code:"` + vm.model.state_ministry_code + `",
                        state_ministry_full_code:"` + vm.model.state_ministry_full_code + `",
                        state_post_department_code:"` + vm.model.state_post_department_code + `",
                        postal_code_start_range:"` + vm.model.postal_code_start_range + `",
                        postal_code_end_range:"` + vm.model.postal_code_end_range + `",
                        agriculture_department_code:"` + vm.model.agriculture_department_code + `",
                        agriculture_department_name:"` + vm.model.agriculture_department_name + `",
                        state_ministry_name:"` + vm.model.state_ministry_name + `",
                        validation_code:"` + vm.model.validation_code + `",
                        is_capital: ` + vm.model.is_capital + `
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.isSendingData = false;
                vm.model.id = response.data.data.LocationRegencyStore.id;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'location-regency-show', params: { regencyId: vm.model.id }});
            })
            .catch(function (error) {
                vm.isFetching = false;
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isFetching = true;
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
