<template>
    <layout>
        <div class="columns">
            <div class="column">
                <b-panel :collapsible="false" class="is-fullheight">
                    <strong slot="header">Edit Data Kabupaten</strong>
                    <div class="content is-fullwidth">
                        <form @submit.prevent="validateBeforeSubmit">
                            <b-field>
                                <b-input
                                    name="code"
                                    v-model="model.code"
                                    type="text"
                                    placeholder="Isikan Kode"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="name"
                                    v-model="model.name"
                                    type="text"
                                    placeholder="Isikan Nama"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('province_id') ? 'is-danger': 'is-info'" :message="errors.has('province_id') ? errors.first('province_id') : ''">
                               <b-select placeholder="Pilih Provinsi"
                               name="province_id"
                               v-model="model.province_id"
                               v-validate="'required'"
                               :loading="isSendingData"
                               :disabled="isSendingData"
                               expanded>
                                   <option
                                       v-for="province in dataProvince"
                                       :value="province.id"
                                       :key="province.id">
                                       {{ province.name }}
                                   </option>
                               </b-select>
                            </b-field>
                            <br>
                            <b-field :type="errors.has('regency_type_id') ? 'is-danger': 'is-info'" :message="errors.has('regency_type_id') ? errors.first('regency_type_id') : ''">
                              <b-select placeholder="Pilih Tipe Kabupaten"
                              name="regency_type_id"
                              v-model="model.regency_type_id"
                              v-validate="'required'"
                              :loading="isSendingData"
                              :disabled="isSendingData"
                              expanded>
                                  <option
                                      v-for="regencyType in dataRegencyType"
                                      :value="regencyType.id"
                                      :key="regencyType.id">
                                      {{ regencyType.name }}
                                  </option>
                              </b-select>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="dikti_code"
                                    v-model="model.dikti_code"
                                    type="text"
                                    placeholder="Isikan Kode Dikti"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="dikti_name"
                                    v-model="model.dikti_name"
                                    type="text"
                                    placeholder="Isikan Nama Dikti"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="epsbed_code"
                                    v-model="model.epsbed_code"
                                    type="text"
                                    placeholder="Isikan Nama Dikti"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="state_ministry_code"
                                    v-model="model.state_ministry_code"
                                    type="text"
                                    placeholder="Isikan Kode Mentri Dalam Negeri"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="state_ministry_full_code"
                                    v-model="model.state_ministry_full_code"
                                    type="text"
                                    placeholder="Isikan Kode Lengkap Mentri Dalam Negeri"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="state_ministry_name"
                                    v-model="model.state_ministry_name"
                                    type="text"
                                    placeholder="Isikan Nama Mentri Dalam Negeri"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="state_post_department_code"
                                    v-model="model.state_post_department_code"
                                    type="text"
                                    placeholder="Isikan Kode Pos"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="postal_code_start_range"
                                    v-model="model.postal_code_start_range"
                                    type="text"
                                    placeholder="Isikan Awalan Kode Pos"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="postal_code_end_range"
                                    v-model="model.postal_code_end_range"
                                    type="text"
                                    placeholder="Isikan Akhiran Kode Pos"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="validation_code"
                                    v-model="model.validation_code"
                                    type="text"
                                    placeholder="Isikan Kode Validasi"
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="agriculture_department_code"
                                    v-model="model.agriculture_department_code"
                                    type="text"
                                    placeholder="Isikan Kode Kementrian Pertanian "
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-field>
                                <b-input
                                    name="agriculture_department_name"
                                    v-model="model.agriculture_department_name"
                                    type="text"
                                    placeholder="Isikan Nama Kementrian Pertanian "
                                    :loading="isSendingData"
                                    :disabled="isSendingData">
                                </b-input>
                            </b-field>
                            <br>
                            <b-checkbox v-model="model.is_capital" :disabled="isSendingData">Ibu Kota Propinsi ?</b-checkbox>
                            <br>
                            <div class="field is-grouped is-pulled-right">
                                <div class="control">
                                    <router-link :to="{ name: 'location-regency-index'}" class="button is-pulled-right is-danger">
                                        Batal
                                    </router-link>
                                </div>
                                <div class="control">
                                    <button class="button is-pulled-right is-success" :class="{'is-loading':isSendingData}" type="submit">Tambahkan</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </b-panel>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import axios from 'axios';
import collect from 'collect.js';
import layout from '../../layout/default';
import {apiDomain} from '../../../config.js';
export default {
    name: 'locationContinentIndex',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
        this.getData();
    },
    data () {
        return {
            isSendingData: false,
            isFetching: false,
            model: {
                id: null,
                code: null,
                name: null,
                province_id: null,
                regency_type_id: null,
                dikti_code: null,
                dikti_name: null,
                epsbed_code: null,
                state_ministry_code: null,
                state_ministry_full_code: null,
                state_ministry_name: null,
                state_post_department_code: null,
                postal_code_start_range: null,
                postal_code_end_range: null,
                validation_code: null,
                agriculture_department_code: null,
                agriculture_department_name: null,
                is_capital: null,
                regencies: []
            },
            subDistricts: {
                items: []
            },
            queryStringProvince: `query FetchProvinces {LocationProvince (limit: 50) {data {id,name}}}`,
            queryStringRegencyType: `query FetchRegencyTypes {LocationRegencyType {data {id,name}}}`
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getModelData () {
            const vm = this;
            vm.model.loading = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchRegency',
                    query: `
                    query FetchRegency($id: String = "` + vm.regencyId + `") {
                        LocationRegency (id: $id) {
                            data {
                                id,
                                code,
                                name,
                                dikti_code,
                                dikti_name,
                                epsbed_code,
                                province_id,
                                regency_type_id,
                                state_ministry_code,
                                state_ministry_full_code,
                              state_ministry_name,
                              state_post_department_code,
                              postal_code_start_range,
                              postal_code_end_range,
                              validation_code,
                              agriculture_department_code,
                              agriculture_department_name,
                              is_capital
                                subDistricts {
                                    id,
                                    name,
                                    dikti_code
                                }
                            }
                        }
                    }`,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.model = response.data.data.LocationRegency.data[0];
                console.log(vm.model);
                vm.subDistricts = collect(vm.model.subDistricts).sortBy('name');
                vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            })
            .catch(function (error) {
                if (error) {
                    vm.model.loading = false;
                    vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getProvinces () {
            const vm = this;
            vm.isFetching = true;
            axios({
                headers: {
            'Content-Type': 'application/json',
            'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
        },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchProvinces',
                    query: vm.queryStringProvince,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.dataProvince = response.data.data.LocationProvince.data;
            })
            .catch(function (error) {
                vm.isFetching = false;
                if (error) {
                    vm.callSnackbar('Data Provinsi Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getRegencyTypes () {
            const vm = this;
            vm.isFetching = true;
            axios({
                headers: {
            'Content-Type': 'application/json',
            'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
        },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchRegencyTypes',
                    query: vm.queryStringRegencyType,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.dataRegencyType = response.data.data.LocationRegencyType.data;
            })
            .catch(function (error) {
                vm.isFetching = false;
                if (error) {
                    vm.callSnackbar('Data Tipe Kabupaten Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        submitData () {
            const vm = this;
            vm.isFetching = true;
            vm.isSendingData = true;
            axios({
                headers: {
            'Content-Type': 'application/json',
            'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
        },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    query: `mutation {LocationRegencyUpdate(
                        id:"` + vm.model.id + `",
                        code:"` + vm.model.code + `",
                        name:"` + vm.model.name + `",
                        dikti_code:"` + vm.model.dikti_code + `",
                        dikti_name:"` + vm.model.dikti_name + `",
                        epsbed_code:"` + vm.model.epsbed_code + `",
                        province_id:"` + vm.model.province_id + `",
                        regency_type_id:"` + vm.model.regency_type_id + `",
                        state_ministry_code:"` + vm.model.state_ministry_code + `",
                        state_ministry_full_code:"` + vm.model.state_ministry_full_code + `",
                        state_post_department_code:"` + vm.model.state_post_department_code + `",
                        postal_code_start_range:"` + vm.model.postal_code_start_range + `",
                        postal_code_end_range:"` + vm.model.postal_code_end_range + `",
                        agriculture_department_code:"` + vm.model.agriculture_department_code + `",
                        agriculture_department_name:"` + vm.model.agriculture_department_name + `",
                        state_ministry_name:"` + vm.model.state_ministry_name + `",
                        validation_code:"` + vm.model.validation_code + `",
                        is_capital: ` + vm.model.is_capital + `
                    ){id}}`
                }
            })
            .then(function (response) {
                vm.isFetching = false;
                vm.isSendingData = false;
                vm.model.id = response.data.data.LocationRegencyUpdate.id;
                vm.callSnackbar('Data Berhasil Disimpan Di Server', 'is-success', 'is-bottom-left', 'OK');
                vm.$router.push({name: 'location-regency-show', params: { regencyId: vm.model.id }});
            })
            .catch(function (error) {
                vm.isFetching = false;
                vm.isSendingData = false;
                if (error) {
                    vm.callSnackbar('Data Gagal Disimpan Di Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        validateBeforeSubmit () {
            this.isFetching = true;
            this.isSendingData = true;
            this.$validator.validateAll().then((result) => {
                if (result) {
                    // eslint-disable-next-line
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.submitData();
                } else {
                    this.isFetching = false;
                    this.isSendingData = false;
                    this.callSnackbar('Mohon Data Anda Diperbaiki', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData(),
                vm.getProvinces(),
                vm.getRegencyTypes()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        }
    },
    props: {
        regencyId: {
            type: String,
            required: true
        }
    }
};
</script>
<style lang="scss" scoped>
</style>
