<template>
    <div id="app">
        <main>
            <router-view></router-view>
        </main>
    </div>
</template>

<script>
'use strict';
export default {
    name: 'app'
};
</script>
<style src="./style/main.scss" lang="scss"></style>
