<template>
    <layout>
        <div class="columns">
            <div class="column">
                <h2 class="title">Detail Kabupaten</h2>
                <b-dropdown class="is-pulled-right">
                    <button class="button is-info" slot="trigger">
                        <b-icon icon="report"></b-icon>
                        <span>Aksi</span>
                        <b-icon icon="arrow_drop_down"></b-icon>
                    </button>
                    <b-dropdown-item @click="onIndex()">
                        <b-icon icon="view_list" class="is-primary"></b-icon>
                        Daftar
                    </b-dropdown-item>
                    <b-dropdown-item>
                        <b-icon icon="edit" class="is-orange"></b-icon>
                        Ubah
                    </b-dropdown-item>
                    <b-dropdown-item>
                        <b-icon icon="delete" class="is-danger"></b-icon>
                        Hapus
                    </b-dropdown-item>
                </b-dropdown>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <table class="table is-fullwidth">
                    <tbody>
                        <tr>
                            <td>Kode</td>
                            <td>{{model.code}}</td>
                        </tr>
                        <tr>
                            <td>Nama</td>
                            <td>{{model.name}}</td>
                        </tr>
                        <tr>
                            <td>Kode Dikti</td>
                            <td>{{model.dikti_code}}</td>
                        </tr>
                        <tr>
                            <td>Kode Dikti</td>
                            <td>{{model.dikti_code}}</td>
                        </tr>
                        <tr>
                            <td>Epsbed Code</td>
                            <td>{{model.epsbed_code}}</td>
                        </tr>
                        <tr>
                            <td>Propinsi</td>
                            <td>{{model.province.name}}</td>
                        </tr>
                        <tr>
                            <td>Tipe Kabupaten</td>
                            <td>{{model.regencyType.name}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <h2 class="subtitle">Daftar Kecamatan</h2>
                <b-table :data="subDistricts.items">
                    <template slot-scope="props">
                        <b-table-column field="dikti_code" label="Kode">
                            {{ props.row.dikti_code }}
                        </b-table-column>
                        <b-table-column field="name" label="Nama">
                            {{ props.row.name }}
                        </b-table-column>
                        <b-table-column label="Aksi">
                            <b-dropdown>
                                <button class="button is-info" slot="trigger">
                                    <b-icon icon="report"></b-icon>
                                    <span>Aksi</span>
                                    <b-icon icon="arrow_drop_down"></b-icon>
                                </button>
                                <b-dropdown-item>
                                    <b-icon icon="description" class="is-success"></b-icon>
                                    Detail
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <b-icon icon="edit" class="is-orange"></b-icon>
                                    Ubah
                                </b-dropdown-item>
                                <b-dropdown-item>
                                    <b-icon icon="delete" class="is-danger"></b-icon>
                                    Hapus
                                </b-dropdown-item>
                            </b-dropdown>
                        </b-table-column>
                    </template>
                </b-table>
            </div>
        </div>
    </layout>
</template>
<script>
'use strict';
import axios from 'axios';
import collect from 'collect.js';
import layout from '../../layout/default';
import {apiDomain} from '../../../config.js';
export default {
    name: 'locationSubDistrictShow',
    components: {
        layout
    },
    mounted () {
        this.$store.dispatch('closeSideMenu');
        this.getData();
    },
    data () {
        return {
            model: {
                id: null,
                code: null,
                name: null,
                dikti_code: null,
                epsbed_code: null,
                state_ministry_code: null,
                state_post_department_code: null,
                state_ministry_name: null,
                dikti_name: null,
                regencies: []
            },
            subDistricts: {
                items: []
            }
        };
    },
    methods: {
        callSnackbar (messageString, messageType, messagePosition, messageActionText) {
            this.$snackbar.open({
                message: messageString,
                type: messageType,
                position: messagePosition,
                actionText: messageActionText
            });
        },
        getModelData () {
            const vm = this;
            vm.model.loading = true;
            axios({
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': this.$store.getters.tokenType + ' ' + this.$store.getters.accessToken
                },
                method: 'post',
                url: apiDomain + '/api/graphql/location/query',
                responseType: 'json',
                data: {
                    operationName: 'FetchSubDistrict',
                    query: `
                    query FetchSubDistrict($id: String = "` + vm.regencyId + `") {
                        LocationSubDistrict (id: $id) {
                            data {
                                id,
                                code,
                                name,
                                dikti_code,
                                epsbed_code,
                                province {
                                  id,
                                  name
                                },
                                regencyType {
                                  id,
                                  name
                                },
                                state_ministry_code,
                                state_post_department_code
                                subDistricts {
                                    id,
                                    name,
                                    dikti_code
                                }
                            }
                        }
                    }`,
                    variabels: null
                }
            })
            .then(function (response) {
                vm.model = response.data.data.LocationRegency.data[0];
                vm.subDistricts = collect(vm.model.subDistricts).sortBy('name');
                vm.callSnackbar('Data Berhasil Diambil Dari Server', 'is-success', 'is-bottom-left', 'OK');
            })
            .catch(function (error) {
                if (error) {
                    vm.model.loading = false;
                    vm.callSnackbar('Data Gagal Diambil Dari Server', 'is-danger', 'is-bottom-left', 'OK');
                }
            });
        },
        getData () {
            const vm = this;
            vm.$store.dispatch('showLoader');
            axios.all([
                vm.getModelData()
            ]).then(axios.spread(function (acct, perms) {
                // Both requests are now complete
                vm.$store.dispatch('hideLoader');
            }));
        },
        onIndex () {
            this.$router.push({name: 'location-subDistrict-index'});
        }
    },
    props: {
        regencyId: {
            type: String,
            required: true
        }
    }
};
</script>

<style lang="scss" scoped>
</style>
